In [1]:
import pandas as pd
import requests, json
from datetime import date, timedelta
from collections import defaultdict
import xml.etree.ElementTree as ET
from math import dist

In [2]:
KEY = 'XFvzJWgUESMIABoVtfrlH/5UAPe0XlfdQL4aWwGW3PRP7nglPl6l5gbtu9YikPPPpECveIjH0YwuXi9ZccGTcA=='
url = 'http://openapi.forest.go.kr/openapi/service/forestDisasterService/frstFireOpenAPI'
params ={'serviceKey' : KEY, 'searchStDt' : '19841201', 'searchEdDt' : '19841204', 'pageNo' : '1', 'numOfRows' : '10' }

response = requests.get(url, params=params)
print(response.content)

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><diravg>W</diravg><dirmax> </dirmax><dmgarea>0.01</dmgarea><dmgmoney>0</dmgmoney><exintgtm>25</exintgtm><extingdt>198412031215</extingdt><humidcurr>0.0</humidcurr><humidmin>0.0</humidmin><humidrel>43.0</humidrel><ocurcause>\xec\x9e\x85\xec\x82\xb0\xec\x9e\x90\xec\x8b\xa4\xed\x99\x94</ocurcause><ocurdo>\xeb\xb6\x80\xec\x82\xb0</ocurdo><ocurdt>198412031150</ocurdt><ocuremd>\xeb\xaa\x85\xeb\xa5\x9c</ocuremd><ocurgm>\xeb\xb6\x80\xec\x82\xb0</ocurgm><ocurjibun>\xec\x82\xb050-7</ocurjibun><ocurri> </ocurri><ocursgg>\xeb\x8f\x99\xeb\x9e\x98</ocursgg><ocuryoil>\xec\x9b\x94</ocuryoil><ownersec>\xec\x82\xac</ownersec><rainamount>2.7</rainamount><raindays>10</raindays><riskavg>0.0</riskavg><riskmax>0.0</riskmax><tempavg>13.4</tempavg><windavg>3.3</windavg><windmax>0.0</windmax></item><item><diravg>NNW</diravg><dirmax> </dirmax><dmgarea>3.1</dmgarea><dmgmoney>0</dmgmoney><exintgtm>700</exintgtm><extingdt>198412022145</extingdt><humidcurr>0.0</humidcurr><humidmin>0.0</humidmin><humidrel>19.0</humidrel><ocurcause>\xec\x9e\x85\xec\x82\xb0\xec\x9e\x90\xec\x8b\xa4\xed\x99\x94</ocurcause><ocurdo>\xea\xb2\xbd\xeb\xb6\x81</ocurdo><ocurdt>198412021445</ocurdt><ocuremd>\xea\xb0\x81\xeb\x82\xa8</ocuremd><ocurgm>\xea\xb2\xbd\xeb\xb6\x81</ocurgm><ocurjibun>\xec\x82\xb0350</ocurjibun><ocurri>\xec\x98\xa5\xec\x82\xb0</ocurri><ocursgg>\xec\xb2\xad\xeb\x8f\x84</ocursgg><ocuryoil>\xec\x9d\xbc</ocuryoil><ownersec>\xec\x82\xac</ownersec><rainamount>0.7</rainamount><raindays>13</raindays><riskavg>0.0</riskavg><riskmax>0.0</riskmax><tempavg>10.6</tempavg><windavg>4.0</windavg><windmax>0.0</windmax></item><item><diravg>NW</diravg><dirmax> </dirmax><dmgarea>3.0</dmgarea><dmgmoney>0</dmgmoney><exintgtm>135</exintgtm><extingdt>198412011640</extingdt><humidcurr>0.0</humidcurr><humidmin>0.0</humidmin><humidrel>35.0</humidrel><ocurcause>\xec\x9e\x85\xec\x82\xb0\xec\x9e\x90\xec\x8b\xa4\xed\x99\x94</ocurcause><ocurdo>\xec\xa0\x84\xeb\x82\xa8</ocurdo><ocurdt>198412011505</ocurdt><ocuremd>\xec\x83\x81\xec\x95\x94</ocuremd><ocurgm>\xec\xa0\x84\xeb\x82\xa8</ocurgm><ocurjibun>\xec\x82\xb0109</ocurjibun><ocurri> </ocurri><ocursgg>\xec\x97\xac\xec\x88\x98</ocursgg><ocuryoil>\xed\x86\xa0</ocuryoil><ownersec>\xec\x82\xac</ownersec><rainamount>9.3</rainamount><raindays>17</raindays><riskavg>0.0</riskavg><riskmax>0.0</riskmax><tempavg>11.8</tempavg><windavg>9.2</windavg><windmax>0.0</windmax></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>3</totalCount></body></response>'

In [5]:
# 기상데이터 산불발생 시간에 맞춰서 모으고 mongodb 적재하기
# 먼저 산불발생 csv 가져오고
df = pd.read_csv('wildfire_his.csv')
lat_df = pd.read_csv('latitude.csv')
df

,Unnamed: 0,_id,발생일시,발생일시(요일),진화일시(년월일시분),진화소요시간(분),발생장소(관서),발생장소(시도),발생장소(시군구),발생장소(읍면동),...,평균기온,실효습도,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량
0,0,62be5e0852482b6dab131e1d,201406191500,목,201406191800,300,북부,강원,인제,남,...,23.6,0.0,57.0,0.0,5.6,1.9,S,SE,6,0.5
1,1,62be5e0852482b6dab131e1e,201406181805,수,201406182015,210,경남,경남,밀양,삼랑진,...,29.6,0.0,46.0,0.0,4.0,2.4,SE,NNE,6,1.5
2,2,62be5e0852482b6dab131e1f,201406151410,일,201406151720,310,강원,강원,인제,인제,...,29.3,0.0,57.0,0.0,6.7,1.3,SSW,NW,2,0.5
3,3,62be5e0852482b6dab131e20,201406141720,토,201406141900,140,전북,전북,부안,보안,...,25.3,0.0,46.0,0.0,7.8,3.3,W,WNW,3,1.5
4,4,62be5e0852482b6dab131e21,201406101718,화,201406102000,242,북부,강원,원주,흥업,...,22.3,0.0,40.0,0.0,9.9,2.0,SSE,NNE,1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11719,11719,62be5e0852482b6dab134be4,191107022013,,,,대전,대전,중,대사,...,0.0,0.0,0.0,0.0,0.0,0.0,,,0,0.0
11720,11720,62be5e0852482b6dab134be5,191107022013,월,191101010300,1225,대전,대전,중,대사,...,0.0,0.0,0.0,0.0,0.0,0.0,,,0,0.0
11721,11721,62be5e0852482b6dab134be6,191106290400,,,,대전,대전,동,천,...,0.0,0.0,0.0,0.0,0.0,0.0,,,0,0.0
11722,11722,62be5e0852482b6dab134be7,191106290400,월,191101010000,1225,대전,대전,동,천,...,0.0,0.0,0.0,0.0,0.0,0.0,,,0,0.0
11723,11723,62be5e0852482b6dab134be8,191106290400,월,191101010000,1225,대전,대전,동,천,...,0.0,0.0,0.0,0.0,0.0,0.0,,,0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11724 entries, 0 to 11723
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11724 non-null  int64
 1   _id          11724 non-null  object
 2   발생일시         11724 non-null  int64
 3   발생일시(요일)     11724 non-null  object
 4   진화일시(년월일시분)  11724 non-null  object
 5   진화소요시간(분)    11724 non-null  object
 6   발생장소(관서)     11724 non-null  object
 7   발생장소(시도)     11724 non-null  object
 8   발생장소(시군구)    11724 non-null  object
 9   발생장소(읍면동)    11724 non-null  object
 10  발생장소(리)      11724 non-null  object
 11  발생장소(지번)     11724 non-null  object
 12  소유구분         11724 non-null  object
 13  발생세부원인       11724 non-null  object
 14  피해면적         11724 non-null  float64
 15  피해액          11724 non-null  int64
 16  산불위험지수(평균)   11724 non-null  float64
 17  산불위험지수(최대)   11724 non-null  float64
 18  평균기온         11724 non-null  float64
 19  실효습도         11724 non-null  float64
 20  상대습도         11724 non-null  float64
 21  최소습도         11724 non-null  float64
 22  최대풍속         11724 non-null  float64
 23  평균풍속         11724 non-null  float64
 24  최대풍향         11724 non-null  object
 25  평균풍향         11724 non-null  object
 26  강우결과일수       11724 non-null  int64
 27  최종강우량        11724 non-null  float64
dtypes: float64(10), int64(4), object(14)
memory usage: 2.5+ MB

In [7]:
df_tm_place=df[["발생일시","발생장소(시도)", "발생장소(시군구)"]]
df_tm_place

               발생일시 발생장소(시도) 발생장소(시군구)
0      201406191500       강원        인제
1      201406181805       경남        밀양
2      201406151410       강원        인제
3      201406141720       전북        부안
4      201406101718       강원        원주
...             ...      ...       ...
11719  191107022013       대전         중
11720  191107022013       대전         중
11721  191106290400       대전         동
11722  191106290400       대전         동
11723  191106290400       대전         동

[11724 rows x 3 columns]

In [5]:
lat_df

    Unnamed: 0                       _id  지점번호  지점명        위도         경도
0            0  62be6fb4a82199005252108d    90   속초  38.25085  128.56473
1            1  62be6fb4a82199005252108e    93  북춘천  37.94738  127.75443
2            2  62be6fb4a82199005252108f    95   철원  38.14787  127.30420
3            3  62be6fb4a821990052521090    98  동두천  37.90188  127.06070
4            4  62be6fb4a821990052521091    99   파주  37.88589  126.76648
..         ...                       ...   ...  ...       ...        ...
90          90  62be6fb4a8219900525210e7   285   합천  35.56505  128.16994
91          91  62be6fb4a8219900525210e8   288   밀양  35.49147  128.74413
92          92  62be6fb4a8219900525210e9   289   산청  35.41300  127.87910
93          93  62be6fb4a8219900525210ea   294   거제  34.88818  128.60458
94          94  62be6fb4a8219900525210eb   295   남해  34.81662  127.92641

[95 rows x 6 columns]

In [35]:
KAKAO_API_KEY = "da33e829f9b3cce36b4dd72eac9312d6"
KAKAO_MAP_URL = "https://dapi.kakao.com/v2/local/search/address.json?query="

In [36]:
def get_lat(place):
    headers = {
        "Authorization" : "KakaoAK {}".format(KAKAO_API_KEY)
    }
    returned_json=json.loads(str(requests.get(KAKAO_MAP_URL+place,headers=headers).text))
    address = returned_json['documents'][0]['address']
    lat_d = {"lat" : str(address['y']), "lng" : str(address['x'])}
    return lat_d

In [16]:
# 중복제거
df_tm_place=df_tm_place.drop_duplicates()

In [25]:
# 지점번호 리스트 가져오기
point_dict={}
lat_df['지점명']=lat_df['지점명'].map(lambda x: x[:2] if len(x)>2 and (x[2]=='시' or x[2]=='군') else x)
lat_df=lat_df[["지점번호", "지점명","위도","경도"]]
for i in range(len(lat_df)):
    point_dict[lat_df.iloc[i][1]] = [lat_df.iloc[i][0], lat_df.iloc[i][2],lat_df.iloc[i][3]]
    
# list(lat_df["지점명"])
# #시군구 제거
# point_list=list(lat_df['지점명'].map(lambda x: x[:2] if len(x)>2 and (x[2]=='시' or x[2]=='군') else x))
point_dict

{'속초': [90, 38.25085, 128.56473],
 '북춘천': [93, 37.94738, 127.75443],
 '철원': [95, 38.14787, 127.3042],
 '동두천': [98, 37.90188, 127.0607],
 '파주': [99, 37.88589, 126.76648],
 '대관령': [100, 37.67713, 128.71834],
 '춘천': [101, 37.90262, 127.7357],
 '백령도': [102, 37.97396, 124.71237],
 '북강릉': [104, 37.80456, 128.85535],
 '강릉': [105, 37.75147, 128.89099],
 '동해': [106, 37.50709, 129.12433],
 '서울': [108, 37.57142, 126.9658],
 '인천': [112, 37.47772, 126.6249],
 '원주': [114, 37.33749, 127.94659],
 '울릉도': [115, 37.48129, 130.89864],
 '수원': [119, 37.25746, 126.983],
 '영월': [121, 37.18126, 128.45743],
 '충주': [127, 36.97045, 127.9525],
 '서산': [129, 36.77658, 126.4939],
 '울진': [130, 36.99176, 129.41278],
 '청주': [131, 36.63924, 127.44066],
 '대전': [133, 36.37198, 127.37211],
 '추풍령': [135, 36.22025, 127.99458],
 '안동': [136, 36.57293, 128.70734],
 '상주': [137, 36.40837, 128.15741],
 '포항': [138, 36.03201, 129.38002],
 '군산': [140, 36.0053, 126.76135],
 '대구': [143, 35.87797, 128.65295],
 '전주': [146, 35.84092, 127.11718],
 '울산': [152, 35.58237, 129.33469],
 '창원': [155, 35.17019, 128.57281],
 '광주': [156, 35.17294, 126.89156],
 '부산': [159, 35.10468, 129.03203],
 '통영': [162, 34.84541, 128.43561],
 '목포': [165, 34.81732, 126.38151],
 '여수': [168, 34.73929, 127.74063],
 '흑산도': [169, 34.68719, 125.45105],
 '완도': [170, 34.3959, 126.70182],
 '고창': [251, 35.42661, 126.697],
 '순천': [174, 35.0204, 127.3694],
 '홍성': [177, 36.65759, 126.68772],
 '제주': [184, 33.51411, 126.52969],
 '고산': [185, 33.29382, 126.16283],
 '성산': [188, 33.38677, 126.8802],
 '서귀포': [189, 33.24616, 126.5653],
 '진주': [192, 35.16378, 128.04004],
 '강화': [201, 37.70739, 126.44634],
 '양평': [202, 37.48863, 127.49446],
 '이천': [203, 37.26399, 127.48421],
 '인제': [211, 38.05986, 128.16714],
 '홍천': [212, 37.6836, 127.88043],
 '태백': [216, 37.17038, 128.98929],
 '정선': [217, 37.38149, 128.6459],
 '제천': [221, 37.15928, 128.19434],
 '보은': [226, 36.48761, 127.73415],
 '천안': [232, 36.76217, 127.29282],
 '보령': [235, 36.32724, 126.55744],
 '부여': [236, 36.27242, 126.92079],
 '금산': [238, 36.10563, 127.48175],
 '세종': [239, 36.48522, 127.24438],
 '부안': [243, 35.72961, 126.71657],
 '임실': [244, 35.61203, 127.28556],
 '정읍': [245, 35.56337, 126.83904],
 '남원': [247, 35.4213, 127.39652],
 '장수': [248, 35.65696, 127.52031],
 '영광': [252, 35.28366, 126.47784],
 '김해': [253, 35.22981, 128.89075],
 '순창': [254, 35.37131, 127.1286],
 '북창원': [255, 35.22655, 128.6726],
 '양산': [257, 35.30737, 129.0201],
 '보성': [258, 34.76335, 127.21226],
 '강진': [259, 34.64457, 126.78408],
 '장흥': [260, 34.68886, 126.91951],
 '해남': [261, 34.55375, 126.56907],
 '고흥': [262, 34.61826, 127.27572],
 '의령': [263, 35.32258, 128.28812],
 '함양': [264, 35.51138, 127.74538],
 '광양': [266, 34.9434, 127.6914],
 '진도': [268, 34.47296, 126.25846],
 '봉화': [271, 36.94361, 128.91449],
 '영주': [272, 36.87183, 128.51688],
 '문경': [273, 36.62727, 128.14879],
 '청송': [276, 36.4351, 129.04005],
 '영덕': [277, 36.53337, 129.40926],
 '의성': [278, 36.3561, 128.68864],
 '구미': [279, 36.13055, 128.32056],
 '영천': [281, 35.97742, 128.9514],
 '경주': [283, 35.8174, 129.2009],
 '거창': [284, 35.66739, 127.9099],
 '합천': [285, 35.56505, 128.16994],
 '밀양': [288, 35.49147, 128.74413],
 '산청': [289, 35.413, 127.8791],
 '거제': [294, 34.88818, 128.60458],
 '남해': [295, 34.81662, 127.92641]}

In [30]:
def get_2week_info(pointTM, place, num):
    endDate = pointTM[:-4]
    hr = pointTM[-4:-2]
    #print(endDate)
    startDate = date.fromisoformat(endDate[:4]+'-'+endDate[4:6]+'-'+endDate[6:]) - timedelta(weeks=2)
    startDate = startDate.isoformat()
    startDate = ''.join(startDate.split('-'))
    print(endDate, hr)
    url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
    params ={'serviceKey' : 'XFvzJWgUESMIABoVtfrlH/5UAPe0XlfdQL4aWwGW3PRP7nglPl6l5gbtu9YikPPPpECveIjH0YwuXi9ZccGTcA==', 'pageNo' : '1', 'numOfRows' : '999', 'dataType' : 'XML', 'dataCd' : 'ASOS', 'dateCd' : 'HR', 'startDt' : startDate, 'startHh' : hr, 'endDt' : endDate, 'endHh' : hr, 'stnIds' : place }

    response = requests.get(url, params=params)
    #print(response.content)
    text = response.text

    root = ET.fromstring(response.text)
    result=[]

    for node in root.iter('item'):
        rows = defaultdict(list)
        for i in node:
            #print(i.tag, i.text)
            #print('asdf')
            rows[i.tag] = i.text
        rows['label'] = 0
        result.append(rows)
    #print(result)
    result_a = []
    for i, j in enumerate(result):
        if i == len(result)-1:
            j['label']=1
        sa=dict(j)
        result_a.append(sa)


    sd = pd.DataFrame(result_a, columns=result_a[0].keys())
    print(sd)

In [41]:
# 모든 산불난 사건

#len(df_tm_place)
for i in range(10):
    print(list(df_tm_place.iloc[i]))
    # 만약 앞에 지역이 항목에 없으면 뒤에 지역으로 찾고 그것도 없으면 주변 가까운 지역 찾아서 가져옴
    if str(df_tm_place.iloc[i][1]) in point_dict.keys():
        get_2week_info(str(df_tm_place.iloc[i][0]),point_dict[str(df_tm_place.iloc[i][1])][0], i)
    elif str(df_tm_place.iloc[i][2]) in point_dict.keys():
        get_2week_info(str(df_tm_place.iloc[i][0]),point_dict[str(df_tm_place.iloc[i][2])][0], i)
    else:
        # 먼저 모든 지점까지의 거리를 구함
        # 해당 지점의 위도 경도
        try:
            point_lat=get_lat(str(df_tm_place.iloc[i][1]) +' '+ str(df_tm_place.iloc[i][2])+'구')
            for_compare_distance = [] 
            for k in point_dict.keys():
                for_compare_distance.append([dist((float(point_lat['lat']),float(point_lat['lng'])),(point_dict[k][1],point_dict[k][2])), k])
            print(for_compare_distance)
        except:
            point_lat=get_lat(str(df_tm_place.iloc[i][1]) +' '+ str(df_tm_place.iloc[i][2])+'군')
            for_compare_distance = [] 
            for k in point_dict.keys():
                for_compare_distance.append([dist((float(point_lat['lat']),float(point_lat['lng'])),(point_dict[k][1],point_dict[k][2])), k])
            print(for_compare_distance)
            #우선 여기 프린트만 해놨는데 이거 수정해서 get 함수 쓰도록 수정 바람
#     try:
#         get_2week_info(str(df_tm_place.iloc[i][0]),point_code[str(df_tm_place.iloc[i][2])], i)
#     except:
#         continue

[201406191500, '강원', '인제']
20140619 15
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-06-05 15:00    1   211    인제  21.7       0  None    None  3.5
1    2014-06-05 16:00    2   211    인제  22.6       0  None    None  4.1
2    2014-06-05 17:00    3   211    인제  22.2       0  None    None  4.6
3    2014-06-05 18:00    4   211    인제  20.7       0  None    None  4.2
4    2014-06-05 19:00    5   211    인제  19.9       0  None    None  3.0
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-19 11:00  333   211    인제  22.4       0  None       9  2.8
333  2014-06-19 12:00  334   211    인제  23.3       0  None       9  4.2
334  2014-06-19 13:00  335   211    인제  22.8       0  None       9  3.3
335  2014-06-19 14:00  336   211    인제  23.3       0  None       9  2.8
336  2014-06-19 15:00  337   211    인제  23.6       0  None       9  1.9

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  25.9       0   None  None  None
1         0  ...  None     None       None  27.0       0   None  None  None
2         0  ...  None     None       None  28.3       0   None  None  None
3         0  ...  None     None       None  25.7       0   None  None  None
4         0  ...  None     None       None  23.2       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  27.8       0   None  None  None
333       0  ...  None     None       None  31.2       0   None  None  None
334       0  ...  None     None       None  29.4       0   None  None  None
335       0  ...  None     None       None  28.6       0   None  None  None
336       0  ...  None     None       None  27.7       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406181805, '경남', '밀양']
20140618 18
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-06-04 18:00    1   288    밀양  22.2       0  None    None  3.3
1    2014-06-04 19:00    2   288    밀양  21.4       0  None    None  3.5
2    2014-06-04 20:00    3   288    밀양  20.5       0   0.0       0  2.6
3    2014-06-04 21:00    4   288    밀양  20.3       0   0.1       0  3.3
4    2014-06-04 22:00    5   288    밀양  20.3       0  None       9  2.9
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-18 14:00  333   288    밀양  28.9       0  None       9  2.9
333  2014-06-18 15:00  334   288    밀양  30.2       0  None       9  2.3
334  2014-06-18 16:00  335   288    밀양  29.3       0  None       9  0.7
335  2014-06-18 17:00  336   288    밀양  29.9       0  None       9  2.4
336  2014-06-18 18:00  337   288    밀양  29.6       0  None       9  2.4

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  23.9       0   None  None  None
1         0  ...  None     None       None  22.5       0   None  None  None
2         0  ...  None     None       None  21.0       0   None  None  None
3         0  ...  None     None       None  20.4       0   None  None  None
4         0  ...  None     None       None  20.2       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  53.7       0   None  None  None
333       0  ...  None     None       None  53.1       0   None  None  None
334       0  ...  None     None       None  44.5       0   None  None  None
335       0  ...  None     None       None  42.8       0   None  None  None
336       0  ...  None     None       None  34.6       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406151410, '강원', '인제']
20140615 14
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-06-01 14:00    1   211    인제  30.0       0  None    None  2.3
1    2014-06-01 15:00    2   211    인제  30.4       0  None    None  1.7
2    2014-06-01 16:00    3   211    인제  30.1       0  None    None  2.0
3    2014-06-01 17:00    4   211    인제  29.6       0  None    None  1.8
4    2014-06-01 18:00    5   211    인제  28.9       0  None    None  1.3
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-15 10:00  333   211    인제  24.0       0  None    None  2.9
333  2014-06-15 11:00  334   211    인제  25.8       0  None    None  3.2
334  2014-06-15 12:00  335   211    인제  27.2       0  None    None  3.1
335  2014-06-15 13:00  336   211    인제  28.9       0  None    None  3.7
336  2014-06-15 14:00  337   211    인제  29.3       0  None    None  1.3

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  35.9       0   None  None  None
1         0  ...  None     None       None  35.5       0   None  None  None
2         0  ...  None     None       None  34.3       0   None  None  None
3         0  ...  None     None       None  32.5       0   None  None  None
4         0  ...  None     None       None  30.8       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  32.3       0   None  None  None
333       0  ...  None     None       None  36.2       0   None  None  None
334       0  ...  None     None       None  39.5       0   None  None  None
335       0  ...  None     None       None  41.7       0   None  None  None
336       0  ...  None     None       None  38.3       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406141720, '전북', '부안']
20140614 17
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-05-31 17:00    1   243    부안  28.3       0  None    None  3.5
1    2014-05-31 18:00    2   243    부안  27.1       0  None    None  3.5
2    2014-05-31 19:00    3   243    부안  25.2       0  None    None  2.2
3    2014-05-31 20:00    4   243    부안  23.3       0  None    None  1.6
4    2014-05-31 21:00    5   243    부안  21.7       0  None    None  1.3
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-14 13:00  333   243    부안  25.8       0  None    None  3.0
333  2014-06-14 14:00  334   243    부안  26.1       0  None    None  2.5
334  2014-06-14 15:00  335   243    부안  26.9       0  None    None  3.4
335  2014-06-14 16:00  336   243    부안  26.0       0  None    None  3.6
336  2014-06-14 17:00  337   243    부안  25.3       0  None    None  3.3

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  33.2       0   None  None  None
1         0  ...  None     None       None  29.8       0   None  None  None
2         0  ...  None     None       None  27.3       0   None  None  None
3         0  ...  None     None       None  25.0       0   None  None  None
4         0  ...  None     None       None  23.4       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  38.4       0   None  None  None
333       0  ...  None     None       None  42.1       0   None  None  None
334       0  ...  None     None       None  41.5       0   None  None  None
335       0  ...  None     None       None  38.0       0   None  None  None
336       0  ...  None     None       None  33.3       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406101718, '강원', '원주']
20140610 17

                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-05-27 17:00    1   114    원주  29.7       0  None    None  4.2
1    2014-05-27 18:00    2   114    원주  28.6       0  None    None  3.6
2    2014-05-27 19:00    3   114    원주  27.3       0  None    None  2.4
3    2014-05-27 20:00    4   114    원주  26.2       0  None    None  2.6
4    2014-05-27 21:00    5   114    원주  25.4       0  None    None  2.8
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-10 13:00  333   114    원주  22.5       0   1.5       0  2.7
333  2014-06-10 14:00  334   114    원주  24.3       0   0.0       0  3.7
334  2014-06-10 15:00  335   114    원주  19.9       0   3.5       0  1.0
335  2014-06-10 16:00  336   114    원주  22.0       0   0.0       0  1.7
336  2014-06-10 17:00  337   114    원주  22.3       0  None       9  2.0

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  1800     None         42  30.7       0   None  None  None
1         0  ...  1500     None         42  27.2       0   None  None  None
2         0  ...  1800     None         42  24.6       0   None  None  None
3         0  ...  1800     None         42  22.2       0   None  None  None
4         0  ...  1500        0         42  20.7       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...   800     None       7104  27.0       0   None  None  None
333       0  ...  2000     None       7104  28.6       0   None  None  None
334       0  ...   900        2     717004  24.0       0   None  None  None
335       0  ...  2000     None         04  27.3       0   None  None  None
336       0  ...  2000     None       None  24.7       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406061450, '충북', '제천']
20140606 14
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-05-23 14:00    1   221    제천  24.8       0  None    None  2.7
1    2014-05-23 15:00    2   221    제천  25.3       0  None    None  2.9
2    2014-05-23 16:00    3   221    제천  25.9       0  None    None  2.7
3    2014-05-23 17:00    4   221    제천  25.2       0  None    None  3.6
4    2014-05-23 18:00    5   221    제천  25.1       0  None    None  2.9
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-06 10:00  333   221    제천  22.9       0  None    None  2.0
333  2014-06-06 11:00  334   221    제천  24.7       0  None    None  2.1
334  2014-06-06 12:00  335   221    제천  25.8       0  None    None  2.3
335  2014-06-06 13:00  336   221    제천  27.7       0  None    None  1.8
336  2014-06-06 14:00  337   221    제천  28.7       0  None    None  2.9

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  30.4       0   None  None  None
1         0  ...  None     None       None  29.8       0   None  None  None
2         0  ...  None     None       None  27.7       0   None  None  None
3         0  ...  None     None       None  26.0       0   None  None  None
4         0  ...  None     None       None  24.4       0   None  None  None
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  24.2       0   None  None  None
333       0  ...  None     None       None  29.2       0   None  None  None
334       0  ...  None     None       None  32.2       0   None  None  None
335       0  ...  None     None       None  34.9       0   None  None  None
336       0  ...  None     None       None  35.2       0   None  None  None

    m03Te label
0    None     0
1    None     0
2    None     0
3    None     0
4    None     0
..    ...   ...
332  None     0
333  None     0
334  None     0
335  None     0
336  None     1

[337 rows x 39 columns]
[201406020840, '경북', '포항 북']
[[2.3489348790041884, '속초'], [2.495857666589418, '북춘천'], [2.947711558496032, '철원'], [2.962932462333446, '동두천'], [3.1881676664598473, '파주'], [1.7580568538151065, '대관령'], [2.4742093622290686, '춘천'], [5.040436043085803, '백령도'], [1.8340888070935726, '북강릉'], [1.7732524037610837, '강릉'], [1.4835916530907054, '동해'], [2.8473027042886696, '서울'], [3.0958118253907703, '인천'], [1.922453730970864, '원주'], [2.0994383350225796, '울릉도'], [2.6765806887468195, '수원'], [1.4574411057017633, '영월'], [1.6923531059552483, '충주'], [2.966616453780825, '서산'], [0.9490482839764787, '울진'], [2.0177903066598497, '청주'], [2.023268706885146, '대전'], [1.3852868911854457, '추풍령'], [0.846919757953792, '안동'], [1.2648622439428325, '상주'], [0.016389082589127732, '포항'], [2.6075092350665368, '군산'], [0.7345751337076285, '대구'], [2.260513202290349, '전주'], [0.4626144453099286, '울산'], [1.1816665849456631, '창원'], [2.62562434221262, '광주'], [0.9975470139174468, '부산'], [1.5186916140248765, '통영'], [3.2290358726999204, '목포'], [2.08609731694494, '여수'], [4.145749799613773, '흑산도'], [3.1347996977623995, '완도'], [2.741927990883235, '고창'], [2.245870073280089, '순천'], [2.750235953097829, '홍성'], [3.8024083914623166, '제주'], [4.223609356297735, '고산'], [3.640262787255936, '성산'], [3.960406424123084, '서귀포'], [1.5935307208525018, '진주'], [3.3626162343047685, '강화'], [2.3664345200565555, '양평'], [2.2449589090277704, '이천'], [2.3469514230363147, '인제'], [2.214432934241331, '홍천'], [1.1887689208460537, '태백'], [1.5204705912742331, '정선'], [1.61964671039045, '제천'], [1.6936253737575637, '보은'], [2.1965658505439314, '천안'], [2.825394848164017, '보령'], [2.458444493764698, '부여'], [1.8878405532036342, '금산'], [2.169587767423863, '세종'], [2.6705455967530254, '부안'], [2.1272823176528672, '임실'], [2.5747443809586072, '정읍'], [2.0679550266952034, '남원'], [1.8883026154895268, '장수'], [2.988992807731158, '영광'], [0.9438232925206997, '김해'], [2.3387296233250034, '순창'], [1.0733986732788525, '북창원'], [0.8146648056440343, '양산'], [2.5078080147433455, '보성'], [2.9389284343731865, '강진'], [2.7988619210182857, '장흥'], [3.1713259647054435, '해남'], [2.532201370944113, '고흥'], [1.299022359531521, '의령'], [1.7082663103330362, '함양'], [2.005908961992402, '광양'], [3.4842755143614585, '진도'], [1.0079468552297248, '봉화'], [1.1879040391046365, '영주'], [1.3521770468676848, '문경'], [0.5109701854127886, '청송'], [0.4913156234341445, '영덕'], [0.7482515963139001, '의성'], [1.0516049172654527, '구미'], [0.4224148004358512, '영천'], [0.28168381304397977, '경주'], [1.5064447773004486, '거창'], [1.2906872895183343, '합천'], [0.8336286265525434, '밀양'], [1.6175207712033124, '산청'], [1.385284294275309, '거제'], [1.8935865672142378, '남해']]
[201406012346, '서울', '은평']
20140601 23
                   tm rnum stnId stnNm    ta taQcflg    rn rnQcflg   ws  \
0    2014-05-18 23:00    1   108    서울  17.9       0  None    None  2.4
1    2014-05-19 00:00    2   108    서울  17.2       0  None    None  2.0
2    2014-05-19 01:00    3   108    서울  16.5       0  None    None  1.8
3    2014-05-19 02:00    4   108    서울  15.9       0  None    None  1.9
4    2014-05-19 03:00    5   108    서울  15.6       0  None    None  1.4
..                ...  ...   ...   ...   ...     ...   ...     ...  ...
332  2014-06-01 19:00  333   108    서울  25.9       0  None    None  2.0
333  2014-06-01 20:00  334   108    서울  25.1       0  None    None  3.4
334  2014-06-01 21:00  335   108    서울  24.6       0  None    None  0.8
335  2014-06-01 22:00  336   108    서울  24.2       0  None    None  0.5
336  2014-06-01 23:00  337   108    서울  23.8       0  None    None  0.8

    wsQcflg  ...    vs gndSttCd dmstMtphNo    ts tsQcflg m005Te m01Te m02Te  \
0         0  ...  None     None       None  16.9       0   18.8  21.8  22.4
1         0  ...  1700     None       None  16.2       0   18.0  21.0  21.9
2         0  ...  None     None       None  15.5       0   17.2  20.4  21.4
3         0  ...  None     None       None  14.8       0   16.4  19.8  21.0
4         0  ...  1500        0       None  14.3       0   16.0  19.2  20.6
..      ...  ...   ...      ...        ...   ...     ...    ...   ...   ...
332       0  ...  None     None       None  26.6       0   27.3  27.5  26.4
333       0  ...  None     None       None  25.0       0   26.2  26.9  26.2
334       0  ...  1400        0       None  24.0       0   25.2  26.3  26.0
335       0  ...  None     None       None  23.4       0   24.5  25.8  25.7
336       0  ...  None     None       None  23.0       0   24.0  25.3  25.4

    m03Te label
0    21.6     0
1    21.4     0
2    21.2     0
3    21.0     0
4    20.8     0
..    ...   ...
332  25.0     0
333  25.0     0
334  None     0
335  None     0
336  24.7     1

[337 rows x 39 columns]
[201406012145, '강원', '횡성']
[[0.9550848192931127, '속초'], [0.5106502146409208, '북춘천'], [0.9455342618149732, '철원'], [1.011257107652252, '동두천'], [1.2807357068375531, '파주'], [0.7563312631373941, '대관령'], [0.48059619057548747, '춘천'], [3.308030484546524, '백령도'], [0.924778350029064, '북강릉'], [0.9424046959666469, '강릉'], [1.139361912795042, '동해'], [1.0223772321306466, '서울'], [1.3602436114225798, '인천'], [0.15901944242867516, '원주'], [2.91358798440835, '울릉도'], [1.0291032455028204, '수원'], [0.5652855814039668, '영월'], [0.5223496977684128, '충주'], [1.6538156955128727, '서산'], [1.5127380732259057, '울진'], [1.0115400183831136, '청주'], [1.2765893486531332, '대전'], [1.2715687916510627, '추풍령'], [1.168744585038128, '안동'], [1.0970346396058335, '상주'], [2.019113879762326, '포항'], [1.925389643225363, '군산'], [1.7465553631221975, '대구'], [1.8650962592742923, '전주'], [2.338232364166789, '울산'], [2.3948345220150746, '창원'], [2.563747269941241, '광주'], [2.6066041492190566, '부산'], [2.6844509256779516, '통영'], [3.118358734087628, '목포'], [2.7633259617524266, '여수'], [3.779815497563092, '흑산도'], [3.351302121482335, '완도'], [2.4339406659344855, '고창'], [2.5469169142255867, '순천'], [1.5423999939006263, '홍성'], [4.235565837727955, '제주'], [4.576402218528896, '고산'], [4.251102609283047, '성산'], [4.476724929986752, '서귀포'], [2.3286521134537472, '진주'], [1.553762882205996, '강화'], [0.49062104432644205, '양평'], [0.550228507611886, '이천'], [0.5965403283719328, '인제'], [0.2185026119489772, '홍천'], [1.0543984152254418, '태백'], [0.6699699115206951, '정선'], [0.3928765113391948, '제천'], [1.0350484001815492, '보은'], [1.0057568282817908, '천안'], [1.8423601619268366, '보령'], [1.6184994773843928, '부여'], [1.4747042863426412, '금산'], [1.2497169972414102, '세종'], [2.171255183983243, '부안'], [2.005688844651495, '임실'], [2.2432486390568402, '정읍'], [2.1525085374674924, '남원'], [1.892770194814557, '장수'], [2.6734908347059836, '영광'], [2.436550334012998, '김해'], [2.2869082107832845, '순창'], [2.3672722402281487, '북창원'], [2.41721873198052, '양산'], [2.8357687891396175, '보성'], [3.090146012352707, '강진'], [2.9986328084697615, '장흥'], [3.261456403805486, '해남'], [2.959782846865062, '고흥'], [2.1902697156631534, '의령'], [1.994855560774242, '함양'], [2.5652484712785584, '광양'], [3.477711742858328, '진도'], [1.0790337060115933, '봉화'], [0.8168004169645157, '영주'], [0.8798790112721184, '문경'], [1.4931712353255577, '청송'], [1.7166451265764224, '영덕'], [1.3359587846073495, '의성'], [1.4019660660155597, '구미'], [1.7964097297027277, '영천'], [2.069250973797834, '경주'], [1.8259412213578163, '거창'], [1.9355819644187078, '합천'], [2.139491467746964, '밀양'], [2.0814825424381627, '산청'], [2.676292457720998, '거제'], [2.6758063157481713, '남해']]
[201406010520, '경북', '예천']

[[1.5971143685835723, '속초'], [1.466727189183662, '북춘천'], [1.8815719636453423, '철원'], [1.8671874253961536, '동두천'], [2.086303056844128, '파주'], [1.0534594257292655, '대관령'], [1.4367853888634974, '춘천'], [3.9654019831949316, '백령도'], [1.2154586119461581, '북강릉'], [1.1782761823258385, '강릉'], [1.082740293290782, '동해'], [1.7454251783913197, '서울'], [2.0035427482150294, '인천'], [0.8476745923176016, '원주'], [2.5806779691055097, '울릉도'], [1.5875914605969073, '수원'], [0.5236255166735838, '영월'], [0.5901410972247237, '충주'], [1.9626314042056479, '서산'], [1.0163408393147462, '울진'], [1.0124323784467217, '청주'], [1.1179313166860587, '대전'], [0.6335630968724514, '추풍령'], [0.2681513946961917, '안동'], [0.3866154517246791, '상주'], [1.1184523002212474, '포항'], [1.8130061345619886, '군산'], [0.8049328938294611, '대구'], [1.5656527942604568, '전주'], [1.3905916220962835, '울산'], [1.4922872312515836, '창원'], [2.154584796053253, '광주'], [1.6574349234285284, '부산'], [1.812326578727071, '통영'], [2.7708461640309334, '목포'], [2.046334272412585, '여수'], [3.5908189624730134, '흑산도'], [2.86040188619161, '완도'], [2.14446760024468, '고창'], [1.963320261129724, '순천'], [1.765204912405267, '홍성'], [3.685200204515473, '제주'], [4.069387296098463, '고산'], [3.62934496800786, '성산'], [3.8988996124780497, '서귀포'], [1.5498816312297787, '진주'], [2.264581409828711, '강화'], [1.2685331391273327, '양평'], [1.142826360110771, '이천'], [1.431032866132236, '인제'], [1.1748684597994248, '홍천'], [0.7420078161264225, '태백'], [0.7491182396495824, '정선'], [0.5643535566158612, '제천'], [0.738615115369119, '보은'], [1.1648034288396725, '천안'], [1.9240676625718118, '보령'], [1.5798235711857385, '부여'], [1.1170993932610669, '금산'], [1.2207842724602933, '세종'], [1.9688051683500924, '부안'], [1.5671854071948002, '임실'], [1.9498927358421874, '정읍'], [1.626210998916603, '남원'], [1.367903060049647, '장수'], [2.405996580287062, '영광'], [1.4934620543133024, '김해'], [1.8462169445767345, '순창'], [1.447865813376336, '북창원'], [1.4645661794824345, '양산'], [2.2644285262157267, '보성'], [2.614870929972872, '강진'], [2.4954980601279546, '장흥'], [2.8240610465551157, '해남'], [2.354769359129555, '고흥'], [1.3452073745415984, '의령'], [1.3470573752521986, '함양'], [1.8757895670729314, '광양'], [3.0965405737930016, '진도'], [0.5429670735823302, '봉화'], [0.22352107440477284, '영주'], [0.3056488564010351, '문경'], [0.6278901911347293, '청송'], [0.9643771465410179, '영덕'], [0.38274839754750994, '의성'], [0.5434693670688644, '구미'], [0.8433240916383606, '영천'], [1.1249414602494283, '경주'], [1.1293797298282635, '거창'], [1.1286556884819154, '합천'], [1.2019921829426419, '밀양'], [1.3705612972041976, '산청'], [1.7759608724701672, '거제'], [1.914842980339126, '남해']]