In [1]:
import pandas as pd
import requests, json
from datetime import date, timedelta, time, datetime
from collections import defaultdict
import xml.etree.ElementTree as ET
from math import dist

In [2]:
sample_df_humid = pd.read_csv("final_df_effective_humid_before_label.csv",low_memory=False)
sample_df_weather = pd.read_csv("final_weather_his.csv",low_memory=False)
wildfire_his = pd.read_csv("wildfire_his.csv")

In [3]:
# 먼저 2004년부터 2011년까지의 사건 발생 목록 추출
mask = wildfire_his['발생일시'] > 200401010000
temp = wildfire_his.loc[mask]
mask = wildfire_his['발생일시'] < 201112312359
small_his = temp.loc[mask]
small_his

,Unnamed: 0,_id,발생일시,발생일시(요일),진화일시(년월일시분),진화소요시간(분),발생장소(관서),발생장소(시도),발생장소(시군구),발생장소(읍면동),...,평균기온,실효습도,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량
901,901,62be5e0852482b6dab1321a2,201106211707,화,201106211930,223,경남,경남,창녕,남지,...,31.9,54.9,41.0,0.0,7.6,4.7,S,S,1,30.0
902,902,62be5e0852482b6dab1321a3,201106211440,화,201106211730,250,충북,충북,옥천,동이,...,30.0,56.4,38.0,0.0,2.1,3.0,WSW,NNW,3,3.0
903,903,62be5e0852482b6dab1321a4,201106211300,화,201106211440,140,경남,경남,함안,법수,...,29.8,59.2,43.0,0.0,3.0,2.5,E,SSW,10,2.0
904,904,62be5e0852482b6dab1321a5,201106201445,월,201106201845,400,경남,경남,산청,신등,...,31.3,55.7,36.0,0.0,4.6,2.1,E,NE,9,3.0
905,905,62be5e0852482b6dab1321a6,201106201315,월,201106201414,59,경기,경기,여주,산북,...,31.8,54.8,41.0,0.0,4.4,2.3,S,W,5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,4004,62be5e0852482b6dab132dc1,200401071410,수,200401071420,10,경남,경남,합천,대양,...,10.8,0.0,23.0,0.0,0.0,4.0,,NNW,32,9.5
4005,4005,62be5e0852482b6dab132dc2,200401051528,월,200401051528,0,서울,서울,관악,신림,...,7.8,0.0,40.0,0.0,0.0,1.3,,W,3,3.0
4006,4006,62be5e0852482b6dab132dc3,200401031505,토,200401031555,50,경북,경북,울진,울진,...,8.5,0.0,35.0,0.0,0.0,3.5,,ESE,28,9.0
4007,4007,62be5e0852482b6dab132dc4,200401031135,토,200401031205,30,대구,대구,동,둔산,...,7.3,0.0,36.0,0.0,0.0,2.5,,W,23,1.0
4008,4008,62be5e0852482b6dab132dc5,200401011415,목,200401020520,1505,강원,강원,인제,서화,...,3.0,0.0,61.0,0.0,0.0,3.7,,S,3,0.5

In [4]:
occur_place_his = small_his[["발생일시","발생장소(시도)", "발생장소(시군구)"]]
occur_place_his

              발생일시 발생장소(시도) 발생장소(시군구)
901   201106211707       경남        창녕
902   201106211440       충북        옥천
903   201106211300       경남        함안
904   201106201445       경남        산청
905   201106201315       경기        여주
...            ...      ...       ...
4004  200401071410       경남        합천
4005  200401051528       서울        관악
4006  200401031505       경북        울진
4007  200401031135       대구         동
4008  200401011415       강원        인제

[3108 rows x 3 columns]

In [5]:
lat_df = pd.read_csv('latitude.csv')
lat_df

    Unnamed: 0                       _id  지점번호  지점명        위도         경도
0            0  62be6fb4a82199005252108d    90   속초  38.25085  128.56473
1            1  62be6fb4a82199005252108e    93  북춘천  37.94738  127.75443
2            2  62be6fb4a82199005252108f    95   철원  38.14787  127.30420
3            3  62be6fb4a821990052521090    98  동두천  37.90188  127.06070
4            4  62be6fb4a821990052521091    99   파주  37.88589  126.76648
..         ...                       ...   ...  ...       ...        ...
90          90  62be6fb4a8219900525210e7   285   합천  35.56505  128.16994
91          91  62be6fb4a8219900525210e8   288   밀양  35.49147  128.74413
92          92  62be6fb4a8219900525210e9   289   산청  35.41300  127.87910
93          93  62be6fb4a8219900525210ea   294   거제  34.88818  128.60458
94          94  62be6fb4a8219900525210eb   295   남해  34.81662  127.92641

[95 rows x 6 columns]

In [6]:
# 지점번호 리스트에 없는 지점 위도 경도 찾기
KAKAO_API_KEY = "da33e829f9b3cce36b4dd72eac9312d6"
KAKAO_MAP_URL = "https://dapi.kakao.com/v2/local/search/address.json?query="
def get_lat(place):
    headers = {
        "Authorization" : "KakaoAK {}".format(KAKAO_API_KEY)
    }
    returned_json=json.loads(str(requests.get(KAKAO_MAP_URL+place,headers=headers).text))
    address = returned_json['documents'][0]['address']
    lat_d = {"lat" : str(address['y']), "lng" : str(address['x'])}
    return lat_d

In [7]:
# 중복제거
occur_place_his=occur_place_his.drop_duplicates()
occur_place_his

              발생일시 발생장소(시도) 발생장소(시군구)
901   201106211707       경남        창녕
902   201106211440       충북        옥천
903   201106211300       경남        함안
904   201106201445       경남        산청
905   201106201315       경기        여주
...            ...      ...       ...
4004  200401071410       경남        합천
4005  200401051528       서울        관악
4006  200401031505       경북        울진
4007  200401031135       대구         동
4008  200401011415       강원        인제

[2910 rows x 3 columns]

In [8]:
occur_place_his['지점명']=''
occur_place_his

C:\Users\yujeyeong\AppData\Local\Temp\ipykernel_53040\274101844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occur_place_his['지점명']=''

              발생일시 발생장소(시도) 발생장소(시군구) 지점명
901   201106211707       경남        창녕
902   201106211440       충북        옥천
903   201106211300       경남        함안
904   201106201445       경남        산청
905   201106201315       경기        여주
...            ...      ...       ...  ..
4004  200401071410       경남        합천
4005  200401051528       서울        관악
4006  200401031505       경북        울진
4007  200401031135       대구         동
4008  200401011415       강원        인제

[2910 rows x 4 columns]

In [9]:
# 지점번호 위도 경도 딕셔너리로 변환
point_dict={}
lat_df['지점명']=lat_df['지점명'].map(lambda x: x[:2] if len(x)>2 and (x[2]=='시' or x[2]=='군') else x)
lat_df=lat_df[["지점번호", "지점명","위도","경도"]]
for i in range(len(lat_df)):
    point_dict[lat_df.iloc[i][1]] = [lat_df.iloc[i][0], lat_df.iloc[i][2],lat_df.iloc[i][3]]
point_dict

{'속초': [90, 38.25085, 128.56473],
 '북춘천': [93, 37.94738, 127.75443],
 '철원': [95, 38.14787, 127.3042],
 '동두천': [98, 37.90188, 127.0607],
 '파주': [99, 37.88589, 126.76648],
 '대관령': [100, 37.67713, 128.71834],
 '춘천': [101, 37.90262, 127.7357],
 '백령도': [102, 37.97396, 124.71237],
 '북강릉': [104, 37.80456, 128.85535],
 '강릉': [105, 37.75147, 128.89099],
 '동해': [106, 37.50709, 129.12433],
 '서울': [108, 37.57142, 126.9658],
 '인천': [112, 37.47772, 126.6249],
 '원주': [114, 37.33749, 127.94659],
 '울릉도': [115, 37.48129, 130.89864],
 '수원': [119, 37.25746, 126.983],
 '영월': [121, 37.18126, 128.45743],
 '충주': [127, 36.97045, 127.9525],
 '서산': [129, 36.77658, 126.4939],
 '울진': [130, 36.99176, 129.41278],
 '청주': [131, 36.63924, 127.44066],
 '대전': [133, 36.37198, 127.37211],
 '추풍령': [135, 36.22025, 127.99458],
 '안동': [136, 36.57293, 128.70734],
 '상주': [137, 36.40837, 128.15741],
 '포항': [138, 36.03201, 129.38002],
 '군산': [140, 36.0053, 126.76135],
 '대구': [143, 35.87797, 128.65295],
 '전주': [146, 35.84092, 127.11718],
 '울산': [152, 35.58237, 129.33469],
 '창원': [155, 35.17019, 128.57281],
 '광주': [156, 35.17294, 126.89156],
 '부산': [159, 35.10468, 129.03203],
 '통영': [162, 34.84541, 128.43561],
 '목포': [165, 34.81732, 126.38151],
 '여수': [168, 34.73929, 127.74063],
 '흑산도': [169, 34.68719, 125.45105],
 '완도': [170, 34.3959, 126.70182],
 '고창': [251, 35.42661, 126.697],
 '순천': [174, 35.0204, 127.3694],
 '홍성': [177, 36.65759, 126.68772],
 '제주': [184, 33.51411, 126.52969],
 '고산': [185, 33.29382, 126.16283],
 '성산': [188, 33.38677, 126.8802],
 '서귀포': [189, 33.24616, 126.5653],
 '진주': [192, 35.16378, 128.04004],
 '강화': [201, 37.70739, 126.44634],
 '양평': [202, 37.48863, 127.49446],
 '이천': [203, 37.26399, 127.48421],
 '인제': [211, 38.05986, 128.16714],
 '홍천': [212, 37.6836, 127.88043],
 '태백': [216, 37.17038, 128.98929],
 '정선': [217, 37.38149, 128.6459],
 '제천': [221, 37.15928, 128.19434],
 '보은': [226, 36.48761, 127.73415],
 '천안': [232, 36.76217, 127.29282],
 '보령': [235, 36.32724, 126.55744],
 '부여': [236, 36.27242, 126.92079],
 '금산': [238, 36.10563, 127.48175],
 '세종': [239, 36.48522, 127.24438],
 '부안': [243, 35.72961, 126.71657],
 '임실': [244, 35.61203, 127.28556],
 '정읍': [245, 35.56337, 126.83904],
 '남원': [247, 35.4213, 127.39652],
 '장수': [248, 35.65696, 127.52031],
 '영광': [252, 35.28366, 126.47784],
 '김해': [253, 35.22981, 128.89075],
 '순창': [254, 35.37131, 127.1286],
 '북창원': [255, 35.22655, 128.6726],
 '양산': [257, 35.30737, 129.0201],
 '보성': [258, 34.76335, 127.21226],
 '강진': [259, 34.64457, 126.78408],
 '장흥': [260, 34.68886, 126.91951],
 '해남': [261, 34.55375, 126.56907],
 '고흥': [262, 34.61826, 127.27572],
 '의령': [263, 35.32258, 128.28812],
 '함양': [264, 35.51138, 127.74538],
 '광양': [266, 34.9434, 127.6914],
 '진도': [268, 34.47296, 126.25846],
 '봉화': [271, 36.94361, 128.91449],
 '영주': [272, 36.87183, 128.51688],
 '문경': [273, 36.62727, 128.14879],
 '청송': [276, 36.4351, 129.04005],
 '영덕': [277, 36.53337, 129.40926],
 '의성': [278, 36.3561, 128.68864],
 '구미': [279, 36.13055, 128.32056],
 '영천': [281, 35.97742, 128.9514],
 '경주': [283, 35.8174, 129.2009],
 '거창': [284, 35.66739, 127.9099],
 '합천': [285, 35.56505, 128.16994],
 '밀양': [288, 35.49147, 128.74413],
 '산청': [289, 35.413, 127.8791],
 '거제': [294, 34.88818, 128.60458],
 '남해': [295, 34.81662, 127.92641]}

In [10]:
def close_or_exact_place(big_city, small_city):
    if big_city in point_dict.keys():
        return big_city
    elif small_city in point_dict.keys():
        return small_city
    else:
        try:
            point_lat=get_lat(big_city +' '+ small_city+'구')
            for_compare_distance = [] 
            for k in point_dict.keys():
                for_compare_distance.append([dist((float(point_lat['lat']),float(point_lat['lng'])),(point_dict[k][1],point_dict[k][2])), k])
            return sorted(for_compare_distance, key=lambda x: x[0])[0][1]
        except:
            try:
                point_lat=get_lat(big_city +' '+ small_city+'군')
                for_compare_distance = [] 
                for k in point_dict.keys():
                    for_compare_distance.append([dist((float(point_lat['lat']),float(point_lat['lng'])),(point_dict[k][1],point_dict[k][2])), k])
                
                return sorted(for_compare_distance, key=lambda x: x[0])[0][1]
            except:
                try:
                    point_lat=get_lat(big_city +' '+ small_city+'시')
                    for_compare_distance = [] 
                    for k in point_dict.keys():
                        for_compare_distance.append([dist((float(point_lat['lat']),float(point_lat['lng'])),(point_dict[k][1],point_dict[k][2])), k])
                    return sorted(for_compare_distance, key=lambda x: x[0])[0][1]
                except:
                    return small_city

In [11]:
occur_place_his['지점명']=occur_place_his.apply(lambda x: close_or_exact_place(x['발생장소(시도)'], x['발생장소(시군구)']), axis=1)

C:\Users\yujeyeong\AppData\Local\Temp\ipykernel_53040\3760189309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occur_place_his['지점명']=occur_place_his.apply(lambda x: close_or_exact_place(x['발생장소(시도)'], x['발생장소(시군구)']), axis=1)

In [12]:
# 시간까지 발생시간 자르기
sample_df_humid['tm'] = sample_df_humid['tm'].map(lambda x: x[:-3].replace(' ','').replace('-',''))

#sample_hm_merged['label']=sample_hm_merged['tm'].map(lambda x:x[:-2])
sample_df_humid

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,tm,rnum,stnId,stnNm,ta,taQcflg,rn,...,vs,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te,실효습도
0,7104,7104,0,2004010100,1,90,속초,4.9,0.0,NaN,...,1200.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,28.25
1,7105,7105,1,2004010101,2,90,속초,4.9,0.0,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,27.70
2,7106,7106,2,2004010102,3,90,속초,4.2,0.0,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,28.77
3,7107,7107,3,2004010103,4,90,속초,3.3,0.0,NaN,...,1800.0,0.0,NaN,-0.9,0.0,NaN,NaN,NaN,NaN,30.13
4,7108,7108,4,2004010104,5,90,속초,4.1,0.0,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,29.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5493089,5500193,5500193,791626,2011123119,8756,295,남해,3.7,0.0,NaN,...,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,36.68
5493090,5500194,5500194,791627,2011123120,8757,295,남해,1.6,0.0,NaN,...,NaN,NaN,NaN,-0.4,0.0,NaN,NaN,NaN,NaN,42.43
5493091,5500195,5500195,791628,2011123121,8758,295,남해,0.8,0.0,NaN,...,NaN,NaN,NaN,-0.6,0.0,NaN,NaN,NaN,NaN,44.30
5493092,5500196,5500196,791629,2011123122,8759,295,남해,0.6,0.0,NaN,...,NaN,NaN,NaN,-0.8,0.0,NaN,NaN,NaN,NaN,43.01
5493093,5500197,5500197,791630,2011123123,8760,295,남해,0.4,0.0,NaN,...,NaN,NaN,NaN,-0.9,0.0,NaN,NaN,NaN,NaN,46.34

In [13]:
occur_place_his['발생일시'] = occur_place_his['발생일시'].map(lambda x : str(x)[:-2])
occur_place_his

C:\Users\yujeyeong\AppData\Local\Temp\ipykernel_53040\3511259944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occur_place_his['발생일시'] = occur_place_his['발생일시'].map(lambda x : str(x)[:-2])

            발생일시 발생장소(시도) 발생장소(시군구) 지점명
901   2011062117       경남        창녕  밀양
902   2011062114       충북        옥천  대전
903   2011062113       경남        함안  의령
904   2011062014       경남        산청  산청
905   2011062013       경기        여주  이천
...          ...      ...       ...  ..
4004  2004010714       경남        합천  합천
4005  2004010515       서울        관악  서울
4006  2004010315       경북        울진  울진
4007  2004010311       대구         동  대구
4008  2004010114       강원        인제  인제

[2910 rows x 4 columns]

In [14]:
df_dict = {}
for i in range(len(occur_place_his)):
    row = occur_place_his.iloc[i]
    df_dict[row['발생일시']+row['지점명']] = 1
df_dict

{'2011062117밀양': 1,
 '2011062114대전': 1,
 '2011062113의령': 1,
 '2011062014산청': 1,
 '2011062013이천': 1,
 '2011061619부여': 1,
 '2011061615수원': 1,
 '2011061214동해': 1,
 '2011052213울산': 1,
 '2011051913대전': 1,
 '2011051414철원': 1,
 '2011050515영광': 1,
 '2011042923홍성': 1,
 '2011042514서산': 1,
 '2011042415봉화': 1,
 '2011042118울산': 1,
 '2011042114함양': 1,
 '2011042112천안': 1,
 '2011042111광주': 1,
 '2011042017남원': 1,
 '2011042016청송': 1,
 '2011042014원주': 1,
 '2011042014정읍': 1,
 '2011042012인천': 1,
 '2011041915전주': 1,
 '2011041913순창': 1,
 '2011041913완도': 1,
 '2011041910홍성': 1,
 '2011041714원주': 1,
 '2011041713충주': 1,
 '2011041712인제': 1,
 '2011041712봉화': 1,
 '2011041712남해': 1,
 '2011041618춘천': 1,
 '2011041414구미': 1,
 '2011041413거창': 1,
 '2011041413울진': 1,
 '2011041323춘천': 1,
 '2011041316영월': 1,
 '2011041316동해': 1,
 '2011041315남원': 1,
 '2011041315속초': 1,
 '2011041314전주': 1,
 '2011041312광주': 1,
 '2011041220홍성': 1,
 '2011041215홍성': 1,
 '2011041215부산': 1,
 '2011041215목포': 1,
 '2011041214동두천': 1,
 '2011041211청주': 1,
 '2011041117장흥': 1,
 '2011041114동두천': 1,
 '2011041012북춘천': 1,
 '2011040916대전': 1,
 '2011040912인제': 1,
 '2011040621영덕': 1,
 '2011040616강릉': 1,
 '2011040615울진': 1,
 '2011040613전주': 1,
 '2011040612강진': 1,
 '2011040517서산': 1,
 '2011040514대전': 1,
 '2011040513보령': 1,
 '2011040511춘천': 1,
 '2011040413봉화': 1,
 '2011040413안동': 1,
 '2011040412영주': 1,
 '2011040114김해': 1,
 '2011040113거제': 1,
 '2011040111고창': 1,
 '2011040110정선': 1,
 '2011033116광주': 1,
 '2011033114통영': 1,
 '2011033114김해': 1,
 '2011033113통영': 1,
 '2011033112영광': 1,
 '2011033112의령': 1,
 '2011033111보은': 1,
 '2011033012의령': 1,
 '2011032514부산': 1,
 '2011032314울산': 1,
 '2011031915거창': 1,
 '2011031914보은': 1,
 '2011031913거창': 1,
 '2011031913경주': 1,
 '2011031909영덕': 1,
 '2011031900남원': 1,
 '2011031900의성': 1,
 '2011031819서산': 1,
 '2011031818세종': 1,
 '2011031813봉화': 1,
 '2011031812홍천': 1,
 '2011031811강진': 1,
 '2011031711목포': 1,
 '2011031615충주': 1,
 '2011031613보은': 1,
 '2011031613장흥': 1,
 '2011031516안동': 1,
 '2011031516영천': 1,
 '2011031516광주': 1,
 '2011031420대구': 1,
 '2011031419영월': 1,
 '2011031414울산': 1,
 '2011031411남원': 1,
 '2011031314광주': 1,
 '2011031314울산': 1,
 '2011031215안동': 1,
 '2011031214양산': 1,
 '2011031214충주': 1,
 '2011031214영덕': 1,
 '2011031213순천': 1,
 '2011031213추풍령': 1,
 '2011031212구미': 1,
 '2011031212청주': 1,
 '2011031212강진': 1,
 '2011031211울산': 1,
 '2011031115산청': 1,
 '2011031114충주': 1,
 '2011031114의성': 1,
 '2011031114광양': 1,
 '2011031113경주': 1,
 '2011031113안동': 1,
 '2011031113원주': 1,
 '2011031110대전': 1,
 '2011031017상주': 1,
 '2011031015부산': 1,
 '2011031013대전': 1,
 '2011031013강진': 1,
 '2011031011창원': 1,
 '2011031011양산': 1,
 '2011030917산청': 1,
 '2011030917춘천': 1,
 '2011030914남원': 1,
 '2011030913영월': 1,
 '2011030912울산': 1,
 '2011030911해남': 1,
 '2011030714구미': 1,
 '2011030614의령': 1,
 '2011022614목포': 1,
 '2011022613목포': 1,
 '2011022613울산': 1,
 '2011022612영광': 1,
 '2011022515서산': 1,
 '2011022515통영': 1,
 '2011022514충주': 1,
 '2011022511진도': 1,
 '2011022417영주': 1,
 '2011022415광주': 1,
 '2011022411안동': 1,
 '2011022312충주': 1,
 '2011022212통영': 1,
 '2011021916봉화': 1,
 '2011021313밀양': 1,
 '2011021313산청': 1,
 '2011021117홍천': 1,
 '2011020713합천': 1,
 '2011020613울산': 1,
 '2011020606남원': 1,
 '2011020517진주': 1,
 '2011020513의령': 1,
 '2011020512청송': 1,
 '2011020505광양': 1,
 '2011020414의성': 1,
 '2011020405진주': 1,
 '2011020403대전': 1,
 '2011020313울산': 1,
 '2011020312합천': 1,
 '2011020215진주': 1,
 '2011020215양산': 1,
 '2011020211포항': 1,
 '2011020116장흥': 1,
 '2011020114제천': 1,
 '2011020109강릉': 1,
 '2011013118속초': 1,
 '2011013116양산': 1,
 '2011013113영주': 1,
 '2011013109속초': 1,
 '2011013102울진': 1,
 '2011013012순천': 1,
 '2011012916광양': 1,
 '2011012913울산': 1,
 '2011012911울진': 1,
 '2011012819울산': 1,
 '2011012814울산': 1,
 '2011012813합천': 1,
 '2011012314완도': 1,
 '2011012223강릉': 1,
 '2011012116청송': 1,
 '2011012114산청': 1,
 '2011011912순천': 1,
 '2011011714거제': 1,
 '2011011713부산': 1,
 '2011011614의령': 1,
 '2011011515영덕': 1,
 '2011011509합천': 1,
 '2011011314영주': 1,
 '2011011310창원': 1,
 '2011011021산청': 1,
 '2011010812산청': 1,
 '2011010116거제': 1,
 '2011010114거제': 1,
 '2011010113의령': 1,
 '2010122714영월': 1,
 '2010122709영월': 1,
 '2010122617거제': 1,
 '2010122612부산': 1,
 '2010122606충주': 1,
 '2010122603부산': 1,
 '2010122422통영': 1,
 '2010122414부산': 1,
 '2010122410진주': 1,
 '2010122315함양': 1,
 '2010121912광양': 1,
 '2010121616울산': 1,
 '2010121209거제': 1,
 '2010121117울산': 1,
 '2010121114진주': 1,
 '2010121020경주': 1,
 '2010121020부산': 1,
 '2010121014광주': 1,
 '2010121012포항': 1,
 '2010120920부산': 1,
 '2010120914울산': 1,
 '2010120711인제': 1,
 '2010120620부산': 1,
 '2010120515의령': 1,
 '2010120512부산': 1,
 '2010120510산청': 1,
 '2010120415제천': 1,
 '2010120414산청': 1,
 '2010120315전주': 1,
 '2010120313인제': 1,
 '2010120311동해': 1,
 '2010120206광양': 1,
 '2010120116영덕': 1,
 '2010120114강릉': 1,
 '2010120112울진': 1,
 '2010120111순창': 1,
 '2010113015밀양': 1,
 '2010112813해남': 1,
 '2010112812울산': 1,
 '2010112614춘천': 1,
 '2010112519함양': 1,
 '2010112315통영': 1,
 '2010112314인천': 1,
 '2010112221춘천': 1,
 '2010112213동해': 1,
 '2010112016대전': 1,
 '2010111914영광': 1,
 '2010111618서울': 1,
 '2010111516원주': 1,
 '2010111510충주': 1,
 '2010111412인천': 1,
 '2010111215울진': 1,
 '2010111214순천': 1,
 '2010111213금산': 1,
 '2010111212거창': 1,
 '2010111212춘천': 1,
 '2010111211청주': 1,
 '2010111117인천': 1,
 '2010111115인제': 1,
 '2010111113충주': 1,
 '2010111011보은': 1,
 '2010110921서울': 1,
 '2010110912청주': 1,
 '2010110819함양': 1,
 '2010110815통영': 1,
 '2010110811서산': 1,
 '2010110719원주': 1,
 '2010110717부산': 1,
 '2010110713남해': 1,
 '2010110612부산': 1,
 '2010110516창원': 1,
 '2010110514인제': 1,
 '2010110415보은': 1,
 '2010110410원주': 1,
 '2010110313창원': 1,
 '2010110217서산': 1,
 '2010110116동두천': 1,
 '2010110113동두천': 1,
 '2010110113창원': 1,
 '2010103104인천': 1,
 '2010102704거제': 1,
 '2010102417홍천': 1,
 '2010102311창원': 1,
 '2010101602울진': 1,
 '2010062414강릉': 1,
 '2010062315보은': 1,
 '2010062311문경': 1,
 '2010061614진주': 1,
 '2010061410부산': 1,
 '2010061114대전': 1,
 '2010061111추풍령': 1,
 '2010061102함양': 1,
 '2010061016부여': 1,
 '2010061014홍성': 1,
 '2010061011홍천': 1,
 '2010060917북춘천': 1,
 '2010060915영월': 1,
 '2010060912의성': 1,
 '2010060911대전': 1,
 '2010060904인제': 1,
 '2010060614의령': 1,
 '2010060613산청': 1,
 '2010060610원주': 1,
 '2010060412산청': 1,
 '2010060111부여': 1,
 '2010051718상주': 1,
 '2010051716울산': 1,
 '2010051715양산': 1,
 '2010051712충주': 1,
 '2010051621의성': 1,
 '2010051620봉화': 1,
 '2010051615속초': 1,
 '2010051615합천': 1,
 '2010051614밀양': 1,
 '2010051614의성': 1,
 '2010051612창원': 1,
 '2010051611울진': 1,
 '2010051515인제': 1,
 '2010051510의성': 1,
 '2010051414청송': 1,
 '2010051413춘천': 1,
 '2010051412천안': 1,
 '2010051319금산': 1,
 '2010051317장수': 1,
 '2010051216청송': 1,
 '2010051216인천': 1,
 '2010051212구미': 1,
 '2010051210거창': 1,
 '2010051114영주': 1,
 '2010051016봉화': 1,
 '2010051015서울': 1,
 '2010051013춘천': 1,
 '2010050911추풍령': 1,
 '2010050801경주': 1,
 '2010050717강릉': 1,
 '2010050715산청': 1,
 '2010050714대전': 1,
 '2010050713인천': 1,
 '2010050712영천': 1,
 '2010050711대구': 1,
 '2010050515부산': 1,
 '2010050513부산': 1,
 '2010050513영덕': 1,
 '2010050412합천': 1,
 '2010050317양산': 1,
 '2010050315울산': 1,
 '2010050314진주': 1,
 '2010050214인천': 1,
 '2010050211합천': 1,
 '2010050115부산': 1,
 '2010043012부산': 1,
 '2010043010부산': 1,
 '2010042515천안': 1,
 '2010042512강진': 1,
 '2010042109청주': 1,
 '2010042015충주': 1,
 '2010041912영주': 1,
 '2010041911전주': 1,
 '2010041810봉화': 1,
 '2010041716광주': 1,
 '2010041714충주': 1,
 '2010041714영주': 1,
 '2010041713홍천': 1,
 '2010041711충주': 1,
 '2010041711양평': 1,
 '2010041711의성': 1,
 '2010041615인천': 1,
 '2010041615울릉도': 1,
 '2010041615춘천': 1,
 '2010041512봉화': 1,
 '2010041512청주': 1,
 '2010041313통영': 1,
 '2010041310강릉': 1,
 '2010041215금산': 1,
 '2010041119춘천': 1,
 '2010041112영월': 1,
 '2010040917보은': 1,
 '2010040917추풍령': 1,
 '2010040815제천': 1,
 '2010040813상주': 1,
 '2010040813청송': 1,
 '2010040715금산': 1,
 '2010040711군산': 1,
 '2010040514청주': 1,
 '2010040511인천': 1,
 '2010040414보은': 1,
 '2010040413대전': 1,
 '2010040413합천': 1,
 '2010040411강릉': 1,
 '2010040411홍천': 1,
 '2010040316구미': 1,
 '2010040314순창': 1,
 '2010040310산청': 1,
 '2010033015인천': 1,
 '2010033014강진': 1,
 '2010033013양평': 1,
 '2010032915청송': 1,
 '2010032914충주': 1,
 '2010032913남원': 1,
 '2010032911추풍령': 1,
 '2010032815목포': 1,
 '2010032813밀양': 1,
 '2010032616전주': 1,
 '2010032117인천': 1,
 '2010032113부산': 1,
 '2010032111밀양': 1,
 '2010032014김해': 1,
 '2010031713통영': 1,
 '2010031413원주': 1,
 '2010031314통영': 1,
 '2010031313울산': 1,
 '2010022415경주': 1,
 '2010022316청주': 1,
 '2010022314거창': 1,
 '2010022313영광': 1,
 '2010022214창원': 1,
 '2010022112청주': 1,
 '2010022112부산': 1,
 '2010020801울산': 1,
 '2010020719원주': 1,
 '2010020713김해': 1,
 '2010020713영월': 1,
 '2010020712정선': 1,
 '2010020622창원': 1,
 '2010020615순창': 1,
 '2010020613양산': 1,
 '2010020612충주': 1,
 '2010020517창원': 1,
 '2010020515영월': 1,
 '2010020514청송': 1,
 '2010020513포항': 1,
 '2010020512통영': 1,
 '2010020511강릉': 1,
 '2010020511상주': 1,
 '2010020415부산': 1,
 '2010020322구미': 1,
 '2010020315부산': 1,
 '2010020315의성': 1,
 '2010020313김해': 1,
 '2010020311영천': 1,
 '2010020218부산': 1,
 '2010013115울산': 1,
 '2010013114강릉': 1,
 '2010013112울진': 1,
 '2010012914순천': 1,
 '2010012713태백': 1,
 '2010012706합천': 1,
 '2010012615강릉': 1,
 '2010012415합천': 1,
 '2010012415울진': 1,
 '2010011915산청': 1,
 '2010011911의성': 1,
 '2010011905부산': 1,
 '2010011806대구': 1,
 '2010011702북창원': 1,
 '2010011614창원': 1,
 '2010011612구미': 1,
 '2010011602울진': 1,
 '2010011510통영': 1,
 '2010011115포항': 1,
 '2010010400창원': 1,
 '2010010319창원': 1,
 '2010010215울산': 1,
 '2010010114창원': 1,
 '2009123115속초': 1,
 '2009123012김해': 1,
 '2009123011울산': 1,
 '2009122911울산': 1,
 '2009122815양산': 1,
 '2009122801경주': 1,
 '2009122614통영': 1,
 '2009122111영월': 1,
 '2009122011부산': 1,
 '2009121915거제': 1,
 '2009121900철원': 1,
 '2009121820김해': 1,
 '2009121819울산': 1,
 '2009121613서울': 1,
 '2009121415인천': 1,
 '2009120519부산': 1,
 '2009112414의성': 1,
 '2009112412봉화': 1,
 '2009112314울산': 1,
 '2009112313합천': 1,
 '2009112215산청': 1,
 '2009112212울산': 1,
 '2009112117포항': 1,
 '2009112116울산': 1,
 '2009112113밀양': 1,
 '2009112113안동': 1,
 '2009112014속초': 1,
 '2009111906봉화': 1,
 '2009111813철원': 1,
 '2009111613구미': 1,
 '2009111605영월': 1,
 '2009111211영월': 1,
 '2009110610상주': 1,
 '2009110514영천': 1,
 '2009110510추풍령': 1,
 '2009110418인천': 1,
 '2009110319영주': 1,
 '2009110115대구': 1,
 '2009110115산청': 1,
 '2009103114봉화': 1,
 '2009103112군산': 1,
 '2009103110인천': 1,
 '2009103110금산': 1,
 '2009103012제천': 1,
 '2009102917홍천': 1,
 '2009102914홍천': 1,
 '2009102910전주': 1,
 '2009102812합천': 1,
 '2009102512구미': 1,
 '2009102415부산': 1,
 '2009102411남원': 1,
 '2009102120동두천': 1,
 '2009102113함양': 1,
 '2009101919창원': 1,
 '2009101113구미': 1,
 '2009101112원주': 1,
 '2009101014충주': 1,
 '2009100817청주': 1,
 '2009100715군산': 1,
 '2009100515충주': 1,
 '2009100315영천': 1,
 '2009100313영천': 1,
 '2009092022구미': 1,
 '2009092019구미': 1,
 '2009092013산청': 1,
 '2009091914포항': 1,
 '2009091913밀양': 1,
 '2009091913군산': 1,
 '2009091813창원': 1,
 '2009091712홍천': 1,
 '2009091315구미': 1,
 '2009091016울산': 1,
 '2009091011포항': 1,
 '2009090917충주': 1,
 '2009090817구미': 1,
 '2009062713구미': 1,
 '2009062704동해': 1,
 '2009062615동해': 1,
 '2009062010거창': 1,
 '2009061916포항': 1,
 '2009061913경주': 1,
 '2009061912경주': 1,
 '2009061812경주': 1,
 '2009061614대구': 1,
 '2009061411전주': 1,
 '2009061410영천': 1,
 '2009060617울산': 1,
 '2009060513목포': 1,
 '2009060511양산': 1,
 '2009060205안동': 1,
 '2009060204인천': 1,
 '2009060117함양': 1,
 '2009053117청주': 1,
 '2009053113거창': 1,
 '2009053113대구': 1,
 '2009052814영월': 1,
 '2009051915대구': 1,
 '2009051114추풍령': 1,
 '2009051112순창': 1,
 '2009051104천안': 1,
 '2009051019봉화': 1,
 '2009051018청주': 1,
 '2009051017광주': 1,
 '2009051014남원': 1,
 '2009051013영광': 1,
 '2009051004밀양': 1,
 '2009051002동두천': 1,
 '2009050917부산': 1,
 '2009050917남원': 1,
 '2009050916울산': 1,
 '2009050916동해': 1,
 '2009050915양산': 1,
 '2009050914광주': 1,
 '2009050913순창': 1,
 '2009050912경주': 1,
 '2009050910홍천': 1,
 '2009050908전주': 1,
 '2009050908남원': 1,
 '2009050816광주': 1,
 '2009050812영월': 1,
 '2009050716세종': 1,
 '2009050715군산': 1,
 '2009050715전주': 1,
 '2009050712경주': 1,
 '2009050709인천': 1,
 '2009050702금산': 1,
 '2009050620홍성': 1,
 '2009050615양산': 1,
 '2009050614전주': 1,
 '2009050612인천': 1,
 '2009050514고창': 1,
 '2009050513태백': 1,
 '2009050511충주': 1,
 '2009050417인제': 1,
 '2009050416북춘천': 1,
 '2009050411경주': 1,
 '2009050400부산': 1,
 '2009050315영월': 1,
 '2009050116군산': 1,
 '2009050112영월': 1,
 '2009050111영월': 1,
 '2009043017목포': 1,
 '2009043016전주': 1,
 '2009043012광양': 1,
 '2009043010군산': 1,
 '2009043008고흥': 1,
 '2009042920군산': 1,
 '2009042914목포': 1,
 '2009042314인천': 1,
 '2009042215남원': 1,
 '2009042215부산': 1,
 '2009042215영천': 1,
 '2009042121경주': 1,
 '2009041921청송': 1,
 '2009041919밀양': 1,
 '2009041918의성': 1,
 '2009041916고창': 1,
 '2009041915대구': 1,
 '2009041914부여': 1,
 '2009041913순천': 1,
 '2009041912강릉': 1,
 '2009041912광주': 1,
 '2009041912고창': 1,
 '2009041912산청': 1,
 '2009041911인천': 1,
 '2009041817영월': 1,
 '2009041816전주': 1,
 '2009041815영천': 1,
 '2009041815인천': 1,
 '2009041813영광': 1,
 '2009041813울산': 1,
 '2009041813봉화': 1,
 '2009041812순천': 1,
 '2009041812구미': 1,
 '2009041812서울': 1,
 '2009041811목포': 1,
 '2009041810구미': 1,
 '2009041715경주': 1,
 '2009041714인천': 1,
 '2009041713함양': 1,
 '2009041713서울': 1,
 '2009041711청송': 1,
 '2009041504원주': 1,
 '2009041421대전': 1,
 '2009041414원주': 1,
 '2009041414인제': 1,
 '2009041413서울': 1,
 '2009041404홍천': 1,
 '2009041315홍천': 1,
 '2009041314대전': 1,
 '2009041313서울': 1,
 '2009041311영주': 1,
 '2009041221청송': 1,
 '2009041217영주': 1,
 '2009041215울산': 1,
 '2009041215함양': 1,
 '2009041214대전': 1,
 '2009041214서울': 1,
 '2009041213울산': 1,
 '2009041213대구': 1,
 '2009041213인제': 1,
 '2009041212울산': 1,
 '2009041209광주': 1,
 '2009041204고흥': 1,
 '2009041117남원': 1,
 '2009041116전주': 1,
 '2009041115봉화': 1,
 '2009041114의성': 1,
 '2009041114순천': 1,
 '2009041114전주': 1,
 '2009041114서울': 1,
 '2009041114수원': 1,
 '2009041113보은': 1,
 '2009041113목포': 1,
 '2009041112진주': 1,
 '2009041112밀양': 1,
 '2009041112합천': 1,
 '2009041112부산': 1,
 '2009041111장흥': 1,
 '2009041105부산': 1,
 '2009041015군산': 1,
 '2009041014부산': 1,
 '2009041013강릉': 1,
 '2009041011함양': 1,
 '2009041010목포': 1,
 '2009041009부산': 1,
 '2009041000산청': 1,
 '2009040915천안': 1,
 '2009040913김해': 1,
 '2009040910속초': 1,
 '2009040907부산': 1,
 '2009040817부여': 1,
 '2009040815인천': 1,
 '2009040811청주': 1,
 '2009040811영광': 1,
 '2009040810인제': 1,
 '2009040804진주': 1,
 '2009040720진주': 1,
 '2009040716의령': 1,
 '2009040715임실': 1,
 '2009040617남원': 1,
 '2009040616전주': 1,
 '2009040614부산': 1,
 '2009040613김해': 1,
 '2009040613동두천': 1,
 '2009040613장수': 1,
 '2009040613거제': 1,
 '2009040612인천': 1,
 '2009040612홍천': 1,
 '2009040610이천': 1,
 '2009040607대전': 1,
 '2009040606대전': 1,
 '2009040520장수': 1,
 '2009040516동두천': 1,
 '2009040515장수': 1,
 '2009040515충주': 1,
 '2009040514원주': 1,
 '2009040514춘천': 1,
 '2009040513부산': 1,
 '2009040513울산': 1,
 '2009040512대전': 1,
 '2009040512함양': 1,
 '2009040511합천': 1,
 '2009040510고창': 1,
 '2009040504광주': 1,
 '2009040504의령': 1,
 '2009040420김해': 1,
 '2009040414산청': 1,
 '2009040413양산': 1,
 '2009040316인천': 1,
 '2009040314춘천': 1,
 '2009040314대전': 1,
 '2009040313동두천': 1,
 '2009040312울산': 1,
 '2009040310부산': 1,
 '2009040113인천': 1,
 '2009033114진도': 1,
 '2009033011군산': 1,
 '2009032914서산': 1,
 '2009032814부산': 1,
 '2009032806울산': 1,
 '2009032717장수': 1,
 '2009032614함양': 1,
 '2009032606고창': 1,
 '2009032515고창': 1,
 '2009032513포항': 1,
 '2009032216인천': 1,
 '2009032117금산': 1,
 '2009032113보은': 1,
 '2009032113추풍령': 1,
 '2009032111순천': 1,
 '2009032111전주': 1,
 '2009032110정읍': 1,
 '2009032018충주': 1,
 '2009032014홍천': 1,
 '2009032013광주': 1,
 '2009032013대구': 1,
 '2009032012합천': 1,
 '2009031913대구': 1,
 '2009031821동두천': 1,
 '2009031814충주': 1,
 '2009031812영덕': 1,
 '2009031809전주': 1,
 '2009031718경주': 1,
 '2009031716속초': 1,
 '2009031714보은': 1,
 '2009031714추풍령': 1,
 '2009031714창원': 1,
 '2009031713청송': 1,
 '2009031712합천': 1,
 '2009031712대전': 1,
 '2009031712영천': 1,
 '2009031710밀양': 1,
 '2009031616제천': 1,
 '2009031615구미': 1,
 '2009031615충주': 1,
 '2009031612합천': 1,
 '2009031520통영': 1,
 '2009031515추풍령': 1,
 '2009031514봉화': 1,
 '2009031514광주': 1,
 '2009031513부산': 1,
 '2009031512문경': 1,
 '2009031512부산': 1,
 '2009031512충주': 1,
 '2009031218구미': 1,
 '2009031216청주': 1,
 '2009031216대구': 1,
 '2009031215상주': 1,
 '2009031214영주': 1,
 '2009031213봉화': 1,
 '2009031212영주': 1,
 '2009031212밀양': 1,
 '2009031211대전': 1,
 '2009031123인천': 1,
 '2009031117인천': 1,
 '2009031114순창': 1,
 '2009031113봉화': 1,
 '2009031111파주': 1,
 '2009031017안동': 1,
 '2009031016울진': 1,
 '2009031015안동': 1,
 '2009031014군산': 1,
 '2009031014세종': 1,
 '2009031013봉화': 1,
 '2009031013창원': 1,
 '2009031013강진': 1,
 '2009031012봉화': 1,
 '2009031012영천': 1,
 '2009031012청송': 1,
 '2009030915구미': 1,
 '2009030915영천': 1,
 '2009030912광주': 1,
 '2009030816대구': 1,
 '2009030814목포': 1,
 '2009030812대구': 1,
 '2009030713대구': 1,
 '2009030713포항': 1,
 '2009030615속초': 1,
 '2009030215청주': 1,
 '2009030214인천': 1,
 '2009030212동두천': 1,
 '2009030212안동': 1,
 '2009030115부여': 1,
 '2009030115거창': 1,
 '2009030115청주': 1,
 '2009030114서울': 1,
 '2009030114대전': 1,
 '2009030113봉화': 1,
 '2009030112대구': 1,
 '2009030112청송': 1,
 '2009030110보성': 1,
 '2009022819영천': 1,
 '2009022815봉화': 1,
 '2009022814파주': 1,
 '2009022814문경': 1,
 '2009022814수원': 1,
 '2009022711영주': 1,
 '2009022413봉화': 1,
 '2009022116부산': 1,
 '2009021811순창': 1,
 '2009021716해남': 1,
 '2009021620거제': 1,
 '2009021306통영': 1,
 '2009021215함양': 1,
 '2009021214장수': 1,
 '2009021101울진': 1,
 '2009021017인천': 1,
 '2009021012영주': 1,
 '2009021000충주': 1,
 '2009020920합천': 1,
 '2009020821울산': 1,
 '2009020816인제': 1,
 '2009020814고흥': 1,
 '2009020813장흥': 1,
 '2009020812순천': 1,
 '2009020812부여': 1,
 '2009020809울산': 1,
 '2009020807영덕': 1,
 '2009020716경주': 1,
 '2009020713고흥': 1,
 '2009020712합천': 1,
 '2009020521밀양': 1,
 '2009020205영주': 1,
 '2009012900영천': 1,
 '2009012815영천': 1,
 '2009012708울진': 1,
 '2009012614속초': 1,
 '2009012613울진': 1,
 '2009012601광양': 1,
 '2009012515진주': 1,
 '2009012514통영': 1,
 '2009012510동해': 1,
 '2009012421거창': 1,
 '2009012413진주': 1,
 '2009012319울진': 1,
 '2009012313경주': 1,
 '2009011921울진': 1,
 '2009011715의성': 1,
 '2009011714영월': 1,
 '2009011713창원': 1,
 '2009011616밀양': 1,
 '2009011601영덕': 1,
 '2009011521울진': 1,
 '2009011519영천': 1,
 '2009011514대전': 1,
 '2009011512합천': 1,
 '2009011512홍천': 1,
 '2009011510춘천': 1,
 '2009011501제천': 1,
 '2009011423울산': 1,
 '2009011416제천': 1,
 '2009011415광양': 1,
 '2009011414광양': 1,
 '2009011413울진': 1,
 '2009011407울산': 1,
 '2009011403양산': 1,
 '2009011316홍천': 1,
 '2009011314부산': 1,
 '2009011311안동': 1,
 '2009011306울산': 1,
 '2009011300합천': 1,
 '2009011220구미': 1,
 '2009011215부산': 1,
 '2009011212진주': 1,
 '2009011115서울': 1,
 '2009011114부산': 1,
 '2009011113대구': 1,
 '2009011021울산': 1,
 '2009011015의성': 1,
 '2009011014부산': 1,
 '2009011013울진': 1,
 '2009011011영천': 1,
 '2009010914합천': 1,
 '2009010907울산': 1,
 '2009010907홍성': 1,
 '2009010814진주': 1,
 '2009010719부여': 1,
 '2009010615부산': 1,
 '2009010519부산': 1,
 '2009010500부산': 1,
 '2009010414부산': 1,
 '2009010410창원': 1,
 '2009010403구미': 1,
 '2009010314장수': 1,
 '2009010116부산': 1,
 '2009010113합천': 1,
 '2008123114문경': 1,
 '2008123113진주': 1,
 '2008123021울산': 1,
 '2008123012포항': 1,
 '2008122921합천': 1,
 '2008122905대구': 1,
 '2008122814제천': 1,
 '2008122811대구': 1,
 '2008122615양산': 1,
 '2008122613보성': 1,
 '2008122512보성': 1,
 '2008121916장수': 1,
 '2008121914천안': 1,
 '2008121914경주': 1,
 '2008121813의령': 1,
 '2008121713영천': 1,
 '2008121703부산': 1,
 '2008121614남원': 1,
 '2008121613수원': 1,
 '2008121415전주': 1,
 '2008121115부산': 1,
 '2008121016강릉': 1,
 '2008120915의령': 1,
 '2008120715울산': 1,
 '2008120617울산': 1,
 '2008120615경주': 1,
 '2008120611밀양': 1,
 '2008120513이천': 1,
 '2008120102경주': 1,
 '2008113015진주': 1,
 '2008113012창원': 1,
 '2008112616인천': 1,
 '2008112401밀양': 1,
 '2008112316거창': 1,
 '2008112313진주': 1,
 '2008112217서울': 1,
 '2008112115의성': 1,
 '2008112114경주': 1,
 '2008112114합천': 1,
 '2008112020대구': 1,
 '2008112012청송': 1,
 '2008111913영덕': 1,
 '2008111819봉화': 1,
 '2008111816부산': 1,
 '2008111801구미': 1,
 '2008111715충주': 1,
 '2008111713의성': 1,
 '2008111713광주': 1,
 '2008111712산청': 1,
 '2008111706보은': 1,
 '2008111703영광': 1,
 '2008111613구미': 1,
 '2008111611구미': 1,
 '2008111515의령': 1,
 '2008111512해남': 1,
 '2008111416부산': 1,
 '2008111314이천': 1,
 '2008111016의성': 1,
 '2008111011합천': 1,
 '2008110910충주': 1,
 '2008110811봉화': 1,
 '2008110620밀양': 1,
 '2008110618대구': 1,
 '2008110614경주': 1,
 '2008110611인제': 1,

In [15]:
def occur_match(tm,name):
    try:
        return df_dict[tm+name]
    except:
        return 0
#     for i in range(len(occur_place_his)):
#         row = list(occur_place_his.iloc[i])
        
#         if (tm == row[0]) & (name == row[3]):
#             #print(tm, row[0], name, row[3])
#             return 1
#     return 0

In [16]:
#라벨링
sample_df_humid['label'] = sample_df_humid.apply(lambda x: occur_match(x['tm'], x['stnNm']),axis=1)
sample_df_humid

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,tm,rnum,stnId,stnNm,ta,taQcflg,rn,...,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te,실효습도,label
0,7104,7104,0,2004010100,1,90,속초,4.9,0.0,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,28.25,0
1,7105,7105,1,2004010101,2,90,속초,4.9,0.0,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,27.70,0
2,7106,7106,2,2004010102,3,90,속초,4.2,0.0,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,28.77,0
3,7107,7107,3,2004010103,4,90,속초,3.3,0.0,NaN,...,0.0,NaN,-0.9,0.0,NaN,NaN,NaN,NaN,30.13,0
4,7108,7108,4,2004010104,5,90,속초,4.1,0.0,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,29.13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5493089,5500193,5500193,791626,2011123119,8756,295,남해,3.7,0.0,NaN,...,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,36.68,0
5493090,5500194,5500194,791627,2011123120,8757,295,남해,1.6,0.0,NaN,...,NaN,NaN,-0.4,0.0,NaN,NaN,NaN,NaN,42.43,0
5493091,5500195,5500195,791628,2011123121,8758,295,남해,0.8,0.0,NaN,...,NaN,NaN,-0.6,0.0,NaN,NaN,NaN,NaN,44.30,0
5493092,5500196,5500196,791629,2011123122,8759,295,남해,0.6,0.0,NaN,...,NaN,NaN,-0.8,0.0,NaN,NaN,NaN,NaN,43.01,0
5493093,5500197,5500197,791630,2011123123,8760,295,남해,0.4,0.0,NaN,...,NaN,NaN,-0.9,0.0,NaN,NaN,NaN,NaN,46.34,0

In [53]:
sample_df_humid[(sample_df_humid['tm']=='2004010311') & (sample_df_humid['stnNm']=='대구')]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,tm,rnum,stnId,stnNm,ta,taQcflg,rn,...,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te,실효습도,label
218867,225971,225971,218867,2004010311,60,143,대구,5.8,0.0,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,39.14,0

In [29]:
list(occur_place_his.iloc[1])[0]

'2011062114'

In [39]:
sample_df_humid.iloc[385718]['tm']

'2004010114'

In [42]:
if (sample_df_humid.iloc[385718]['tm'] =='2004010114') & (sample_df_humid.iloc[385718]['stnNm'] == '인제'):
    print('x')

x

In [19]:
sample_df_humid[sample_df_humid['label']==1]
final_sample_table=sample_df_humid[["tm","stnNm",'ta','rn','ws','wd','hm','실효습도','label']]
final_sample_table['tm'] = final_sample_table['tm'].map(lambda x:x+'00')
final_sample_table

C:\Users\yujeyeong\AppData\Local\Temp\ipykernel_53040\3662262653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_sample_table['tm'] = final_sample_table['tm'].map(lambda x:x+'00')

                   tm stnNm   ta  rn   ws     wd    hm   실효습도  label
0        200401010000    속초  4.9 NaN  6.3  230.0  39.0  28.25      0
1        200401010100    속초  4.9 NaN  4.8  250.0  36.0  27.70      0
2        200401010200    속초  4.2 NaN  3.0  250.0  35.0  28.77      0
3        200401010300    속초  3.3 NaN  2.4  270.0  40.0  30.13      0
4        200401010400    속초  4.1 NaN  2.8  270.0  36.0  29.13      0
...               ...   ...  ...  ..  ...    ...   ...    ...    ...
5493089  201112311900    남해  3.7 NaN  1.3  270.0  46.0  36.68      0
5493090  201112312000    남해  1.6 NaN  0.5  270.0  54.0  42.43      0
5493091  201112312100    남해  0.8 NaN  0.7  250.0  57.0  44.30      0
5493092  201112312200    남해  0.6 NaN  0.7  230.0  60.0  43.01      0
5493093  201112312300    남해  0.4 NaN  0.8  250.0  63.0  46.34      0

[5493094 rows x 9 columns]

In [21]:
final_sample_table.to_csv('final_training_data_2004_2011.csv')