In [ ]:
#산불발생일자 위도경도랑 비슷한곳?

In [ ]:
import requests
import json
import pandas as pd
import time
import os

In [132]:
# 화재정보
fire = pd.read_csv('C:/Users/c1/mc_python/project_san/산불발생일자19841201-20140619.csv', encoding='cp949')
fire

,Unnamed: 0,발생일시,발생일시(요일),진화일시(년월일시분),진화소요시간(분),발생장소(관서),발생장소(시도),발생장소(시군구),발생장소(읍면동),발생장소(리),...,평균기온,실효습도,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량
0,0,201406191500,목,201406191800,300,북부,강원,인제,남,남전,...,23.6,0.0,57.0,0,5.6,1.9,S,SE,6,0.5
1,1,201406181805,수,201406182015,210,경남,경남,밀양,삼랑진,미전,...,29.6,0.0,46.0,0,4.0,2.4,SE,NNE,6,1.5
2,2,201406151410,일,201406151720,310,강원,강원,인제,인제,가아,...,29.3,0.0,57.0,0,6.7,1.3,SSW,NW,2,0.5
3,3,201406141720,토,201406141900,140,전북,전북,부안,보안,신복,...,25.3,0.0,46.0,0,7.8,3.3,W,WNW,3,1.5
4,4,201406101718,화,201406102000,242,북부,강원,원주,흥업,매지,...,22.3,0.0,40.0,0,9.9,2.0,SSE,NNE,1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,10195,198412271900,목,198412272130,230,경북,경북,영천,임고,수성,...,-3.5,0.0,47.0,0,0.0,3.5,,NW,18,1.0
10196,10196,198412091300,일,198412091320,20,서울,서울,은평,불광,,...,13.3,0.0,34.0,0,0.0,3.0,,E,4,0.6
10197,10197,198412031150,월,198412031215,25,부산,부산,동래,명륜,,...,13.4,0.0,43.0,0,0.0,3.3,,W,10,2.7
10198,10198,198412021445,일,198412022145,700,경북,경북,청도,각남,옥산,...,10.6,0.0,19.0,0,0.0,4.0,,NNW,13,0.7
10199,10199,198412011505,토,198412011640,135,전남,전남,여수,상암,,...,11.8,0.0,35.0,0,0.0,9.2,,NW,17,9.3

In [184]:
loc = [['속초','90','38.25085','128.56473'],['강릉','105','37.75147','128.89099'],['동해','106','37.50709','129.12433'],['태백','216','37.17038','128.98929']]

fire['발생일시'] = fire['발생일시'].apply(str)

#10~12년 사이 거름

condition = fire['발생일시'].str.contains(r'^(2010)|^(2011)|^(2012)')
consc= fire['발생장소(시군구)']=='속초'
congr = fire['발생장소(시군구)'] == '강릉'
condh = fire['발생장소(시군구)'] == '동해'
contb = fire['발생장소(시군구)'] == '태백'
sc = fire.loc[consc|congr|condh|contb]
# gr = fire.loc[condition&congr]
# dh = fire.loc[condition&condh]
# tb = fire.loc[condition&contb]
sc = sc.loc[condition]
sc['fire1']=1
# gr['fire1']=1
# dh['fire1']=1
# tb['fire1']=1

# gr['발생일시'] = pd.to_datetime(gr['발생일시'], format="%Y%m%d%H%M")
# dh['발생일시'] = pd.to_datetime(dh['발생일시'], format="%Y%m%d%H%M")
# tb['발생일시'] = pd.to_datetime(tb['발생일시'], format="%Y%m%d%H%M")


sc['발생일시'] = pd.to_datetime(sc['발생일시'], format="%Y%m%d%H%M")
sc['발생일시'] = sc["발생일시"].dt.strftime("%Y%m%d%H")
sc=sc.drop_duplicates(['발생일시','발생장소(시군구)'])
sc

C:\Users\c1\AppData\Local\Temp/ipykernel_23172/587745153.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  condition = fire['발생일시'].str.contains(r'^(2010)|^(2011)|^(2012)')

,Unnamed: 0,발생일시,발생일시(요일),진화일시(년월일시분),진화소요시간(분),발생장소(관서),발생장소(시도),발생장소(시군구),발생장소(읍면동),발생장소(리),...,실효습도,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량,fire1
729,729,2012101414,일,201210141515,47,강원,강원,속초,설악,,...,45.1,54.0,0,1.5,3.8,NS,N,8,0.5,1
825,825,2012042414,화,201204241520,47,강원,강원,동해,귀운,,...,52.6,38.0,0,3.4,2.7,ESE,ESE,2,2.0,1
958,958,2011040616,수,201104061700,1233,강원,강원,강릉,왕산,도마,...,36.0,47.0,0,2.6,1.4,NE,ENE,9,2.0,1
1075,1075,2011020109,화,201102011038,123,강원,강원,강릉,대전,,...,29.8,39.0,0,5.7,3.8,WSW,WSW,19,7.0,1
1089,1089,2011012223,토,201101230010,1224,강원,강원,강릉,죽헌,,...,32.8,50.0,0,7.8,2.3,WNW,NNW,19,7.0,1
1139,1139,2010120114,수,201012011510,27,강원,강원,강릉,지변,,...,36.8,24.0,0,1.2,0.8,NE,NNW,4,1.0,1
1204,1204,2010062414,목,201006241620,140,강원,강원,강릉,강동,정동진,...,45.0,35.0,0,3.1,2.2,ESE,E,4,3.0,1
1304,1304,2010050717,금,201005071805,37,강원,강원,강릉,연곡,행정,...,32.7,17.0,0,13.6,4.4,W,WSW,10,1.0,1
1380,1380,2010041310,화,201004131151,105,강원,강원,강릉,왕산,도마,...,0.0,59.3,0,0.0,6.4,,WSW,6,5.0,1
1412,1412,2010040411,일,201004041130,12,강원,강원,강릉,구정,덕현,...,0.0,63.1,0,0.0,1.7,,ENE,8,12.0,1
1500,1500,2010020511,금,201002051210,20,강원,강원,강릉,사천,판교,...,0.0,28.0,0,0.0,2.8,,NNE,15,11.0,1
1520,1520,2010013114,일,201001311450,17,강원,강원,강릉,주문진,교항,...,31.0,35.0,0,4.4,2.3,NW,SW,10,11.0,1
1526,1526,2010012713,수,201001271530,145,강원,강원,태백,백산,,...,0.0,36.4,0,0.0,1.8,,WSW,6,8.0,1
1530,1530,2010012615,화,201001261556,34,강원,강원,강릉,교,,...,0.0,32.7,0,0.0,4.4,,SW,5,14.0,1

In [156]:
kisang = pd.read_csv('C:/Users/c1/mc_python/project_san/data/test.csv')

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [163]:
# 병합
con = pd.merge(kisang, moist, how='inner', left_on=['stnNm','tm'], right_on=['stnNm','tmHh'])
con

,tm_x,rnum,stnId_x,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,m03Te,stnId_y,tm_y,tmHh,he,hm0,hm1,hm2,hm3,hm4
0,2010-01-01 00:00,1,90,속초,-8.2,0,NaN,NaN,2.7,0.0,...,NaN,90,"1월 1, 2010",2010-01-01 00:00,24.83,17.0,28.0,58.0,30.0,31.0
1,2010-01-01 01:00,2,90,속초,-7.5,0,NaN,NaN,6.3,0.0,...,NaN,90,"1월 1, 2010",2010-01-01 01:00,27.32,15.0,27.0,82.0,32.0,25.0
2,2010-01-01 02:00,3,90,속초,-8.2,0,NaN,NaN,5.5,0.0,...,NaN,90,"1월 1, 2010",2010-01-01 02:00,27.29,17.0,25.0,82.0,30.0,25.0
3,2010-01-01 03:00,4,90,속초,-7.6,0,NaN,NaN,6.6,0.0,...,NaN,90,"1월 1, 2010",2010-01-01 03:00,22.45,14.0,22.0,59.0,30.0,26.0
4,2010-01-01 04:00,5,90,속초,-7.0,0,NaN,NaN,4.4,0.0,...,NaN,90,"1월 1, 2010",2010-01-01 04:00,20.48,14.0,22.0,47.0,28.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,2012-12-31 19:00,26300,216,태백,-9.9,0,NaN,NaN,1.9,0.0,...,NaN,216,"12월 31, 2012",2012-12-31 19:00,51.58,53.0,47.0,85.0,93.0,52.0
105212,2012-12-31 20:00,26301,216,태백,-10.4,0,NaN,NaN,1.4,0.0,...,NaN,216,"12월 31, 2012",2012-12-31 20:00,51.89,57.0,45.0,82.0,92.0,53.0
105213,2012-12-31 21:00,26302,216,태백,-10.2,0,NaN,NaN,1.1,0.0,...,NaN,216,"12월 31, 2012",2012-12-31 21:00,51.78,59.0,42.0,79.0,92.0,58.0
105214,2012-12-31 22:00,26303,216,태백,-9.9,0,NaN,NaN,1.5,0.0,...,NaN,216,"12월 31, 2012",2012-12-31 22:00,53.45,60.0,40.0,91.0,93.0,57.0
105215,2012-12-31 23:00,26304,216,태백,-10.0,0,NaN,NaN,1.7,0.0,...,NaN,216,"12월 31, 2012",2012-12-31 23:00,53.13,60.0,38.0,89.0,94.0,61.0

In [164]:
#산불라벨링추가
con['fire']=0
con['tm_x'] = pd.to_datetime(con['tm_x'], format='%Y-%m-%d %H:%M').dt.strftime("%Y%m%d%H")
con

,tm_x,rnum,stnId_x,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,stnId_y,tm_y,tmHh,he,hm0,hm1,hm2,hm3,hm4,fire
0,2010010100,1,90,속초,-8.2,0,NaN,NaN,2.7,0.0,...,90,"1월 1, 2010",2010-01-01 00:00,24.83,17.0,28.0,58.0,30.0,31.0,0
1,2010010101,2,90,속초,-7.5,0,NaN,NaN,6.3,0.0,...,90,"1월 1, 2010",2010-01-01 01:00,27.32,15.0,27.0,82.0,32.0,25.0,0
2,2010010102,3,90,속초,-8.2,0,NaN,NaN,5.5,0.0,...,90,"1월 1, 2010",2010-01-01 02:00,27.29,17.0,25.0,82.0,30.0,25.0,0
3,2010010103,4,90,속초,-7.6,0,NaN,NaN,6.6,0.0,...,90,"1월 1, 2010",2010-01-01 03:00,22.45,14.0,22.0,59.0,30.0,26.0,0
4,2010010104,5,90,속초,-7.0,0,NaN,NaN,4.4,0.0,...,90,"1월 1, 2010",2010-01-01 04:00,20.48,14.0,22.0,47.0,28.0,26.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,2012123119,26300,216,태백,-9.9,0,NaN,NaN,1.9,0.0,...,216,"12월 31, 2012",2012-12-31 19:00,51.58,53.0,47.0,85.0,93.0,52.0,0
105212,2012123120,26301,216,태백,-10.4,0,NaN,NaN,1.4,0.0,...,216,"12월 31, 2012",2012-12-31 20:00,51.89,57.0,45.0,82.0,92.0,53.0,0
105213,2012123121,26302,216,태백,-10.2,0,NaN,NaN,1.1,0.0,...,216,"12월 31, 2012",2012-12-31 21:00,51.78,59.0,42.0,79.0,92.0,58.0,0
105214,2012123122,26303,216,태백,-9.9,0,NaN,NaN,1.5,0.0,...,216,"12월 31, 2012",2012-12-31 22:00,53.45,60.0,40.0,91.0,93.0,57.0,0
105215,2012123123,26304,216,태백,-10.0,0,NaN,NaN,1.7,0.0,...,216,"12월 31, 2012",2012-12-31 23:00,53.13,60.0,38.0,89.0,94.0,61.0,0

In [194]:
fin = pd.merge(con, sc, how='left', left_on=['tm_x','stnNm'], right_on=['발생일시','발생장소(시군구)'])
fin

,tm_x,rnum,stnId_x,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,실효습도,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량,fire1
0,2010010100,1,90,속초,-8.2,0,NaN,NaN,2.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010010101,2,90,속초,-7.5,0,NaN,NaN,6.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010010102,3,90,속초,-8.2,0,NaN,NaN,5.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010010103,4,90,속초,-7.6,0,NaN,NaN,6.6,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010010104,5,90,속초,-7.0,0,NaN,NaN,4.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,2012123119,26300,216,태백,-9.9,0,NaN,NaN,1.9,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105212,2012123120,26301,216,태백,-10.4,0,NaN,NaN,1.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105213,2012123121,26302,216,태백,-10.2,0,NaN,NaN,1.1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105214,2012123122,26303,216,태백,-9.9,0,NaN,NaN,1.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105215,2012123123,26304,216,태백,-10.0,0,NaN,NaN,1.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
fin['label'] = fin['fire']+fin['fire1']
fin['label']=fin['label'].fillna(0)
fin

fin.loc[fin['label']==1]

,tm_x,rnum,stnId_x,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,상대습도,최소습도,최대풍속,평균풍속,최대풍향,평균풍향,강우결과일수,최종강우량,fire1,label
24422,2012101414,24423,90,속초,19.9,0,NaN,NaN,3.8,0.0,...,54.0,0.0,1.5,3.8,NS,N,8.0,0.5,1.0,1.0
26919,2010012615,616,105,강릉,5.5,0,NaN,NaN,4.4,0.0,...,32.7,0.0,0.0,4.4,,SW,5.0,14.0,1.0,1.0
27038,2010013114,735,105,강릉,9.8,0,NaN,NaN,2.1,0.0,...,35.0,0.0,4.4,2.3,NW,SW,10.0,11.0,1.0,1.0
27155,2010020511,852,105,강릉,0.7,0,NaN,NaN,2.5,0.0,...,28.0,0.0,0.0,2.8,,NNE,15.0,11.0,1.0,1.0
28547,2010040411,2244,105,강릉,15.6,0,NaN,NaN,1.7,0.0,...,63.1,0.0,0.0,1.7,,ENE,8.0,12.0,1.0,1.0
28762,2010041310,2459,105,강릉,9.8,0,NaN,9.0,7.4,0.0,...,59.3,0.0,0.0,6.4,,WSW,6.0,5.0,1.0,1.0
29345,2010050717,3042,105,강릉,24.9,0,NaN,NaN,5.3,0.0,...,17.0,0.0,13.6,4.4,W,WSW,10.0,1.0,1.0,1.0
30494,2010062414,4191,105,강릉,28.7,0,NaN,NaN,2.2,0.0,...,35.0,0.0,3.1,2.2,ESE,E,4.0,3.0,1.0,1.0
34334,2010120114,8031,105,강릉,18.9,0,NaN,NaN,0.8,0.0,...,24.0,0.0,1.2,0.8,NE,NNW,4.0,1.0,1.0,1.0
35591,2011012223,9288,105,강릉,-1.5,0,NaN,NaN,5.4,0.0,...,50.0,0.0,7.8,2.3,WNW,NNW,19.0,7.0,1.0,1.0
35817,2011020109,9514,105,강릉,1.5,0,NaN,NaN,3.8,0.0,...,39.0,0.0,5.7,3.8,WSW,WSW,19.0,7.0,1.0,1.0
37360,2011040616,11057,105,강릉,16.1,0,NaN,NaN,1.4,0.0,...,47.0,0.0,2.6,1.4,NE,ENE,9.0,2.0,1.0,1.0
72878,2012042414,20271,106,동해,22.3,0,NaN,NaN,2.7,0.0,...,38.0,0.0,3.4,2.7,ESE,ESE,2.0,2.0,1.0,1.0
79549,2010012713,638,216,태백,7.4,0,NaN,NaN,1.8,0.0,...,36.4,0.0,0.0,1.8,,WSW,6.0,8.0,1.0,1.0

In [188]:
fin.keys()

Index(['tm_x', 'rnum', 'stnId_x', 'stnNm', 'ta', 'taQcflg', 'rn', 'rnQcflg',
       'ws', 'wsQcflg', 'wd', 'wdQcflg', 'hm', 'hmQcflg', 'pv', 'td', 'pa',
       'paQcflg', 'ps', 'psQcflg', 'ss', 'ssQcflg', 'icsr', 'dsnw', 'hr3Fhsc',
       'dc10Tca', 'dc10LmcsCa', 'clfmAbbrCd', 'lcsCh', 'vs', 'gndSttCd',
       'dmstMtphNo', 'ts', 'tsQcflg', 'm005Te', 'm01Te', 'm02Te', 'm03Te',
       'stnId_y', 'tm_y', 'tmHh', 'he', 'hm0', 'hm1', 'hm2', 'hm3', 'hm4',
       'fire', 'Unnamed: 0', '발생일시', '발생일시(요일)', '진화일시(년월일시분)', '진화소요시간(분)',
       '발생장소(관서)', '발생장소(시도)', '발생장소(시군구)', '발생장소(읍면동)', '발생장소(리)', '발생장소(지번)',
       '소유구분', '발생세부원인', '피해면적', '피해액', '산불위험지수(평균)', '산불위험지수(최대)', '평균기온',
       '실효습도', '상대습도', '최소습도', '최대풍속', '평균풍속', '최대풍향', '평균풍향', '강우결과일수',
       '최종강우량', 'fire1'],
      dtype='object')

In [200]:
final = fin[['tm_x','stnNm','ta','rn','ws','wd','hm','he','label']]
final

              tm_x stnNm    ta  rn   ws     wd  hm     he  label
0       2010010100    속초  -8.2 NaN  2.7  250.0  17  24.83    0.0
1       2010010101    속초  -7.5 NaN  6.3  290.0  15  27.32    0.0
2       2010010102    속초  -8.2 NaN  5.5  290.0  17  27.29    0.0
3       2010010103    속초  -7.6 NaN  6.6  290.0  14  22.45    0.0
4       2010010104    속초  -7.0 NaN  4.4  290.0  14  20.48    0.0
...            ...   ...   ...  ..  ...    ...  ..    ...    ...
105211  2012123119    태백  -9.9 NaN  1.9  250.0  53  51.58    0.0
105212  2012123120    태백 -10.4 NaN  1.4  360.0  57  51.89    0.0
105213  2012123121    태백 -10.2 NaN  1.1  180.0  59  51.78    0.0
105214  2012123122    태백  -9.9 NaN  1.5   50.0  60  53.45    0.0
105215  2012123123    태백 -10.0 NaN  1.7   70.0  60  53.13    0.0

[105216 rows x 9 columns]

In [201]:
final.columns = ['일시', '지점명', '기온', '강수량', '풍속', '풍향', '습도', '실효습도', 'label']

In [202]:
final

                일시 지점명    기온  강수량   풍속     풍향  습도   실효습도  label
0       2010010100  속초  -8.2  NaN  2.7  250.0  17  24.83    0.0
1       2010010101  속초  -7.5  NaN  6.3  290.0  15  27.32    0.0
2       2010010102  속초  -8.2  NaN  5.5  290.0  17  27.29    0.0
3       2010010103  속초  -7.6  NaN  6.6  290.0  14  22.45    0.0
4       2010010104  속초  -7.0  NaN  4.4  290.0  14  20.48    0.0
...            ...  ..   ...  ...  ...    ...  ..    ...    ...
105211  2012123119  태백  -9.9  NaN  1.9  250.0  53  51.58    0.0
105212  2012123120  태백 -10.4  NaN  1.4  360.0  57  51.89    0.0
105213  2012123121  태백 -10.2  NaN  1.1  180.0  59  51.78    0.0
105214  2012123122  태백  -9.9  NaN  1.5   50.0  60  53.45    0.0
105215  2012123123  태백 -10.0  NaN  1.7   70.0  60  53.13    0.0

[105216 rows x 9 columns]

In [203]:
final.to_csv(f"data/sample_data_2010_2012.csv", index=False,mode='w')