In [2]:
!pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 6.8 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99979 sha256=f2e4a9b41e8c938ce4860b575552bb79104f98812efe206b76eb952dc576d6ed
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [3]:
import MySQLdb
from sqlalchemy import *

In [ ]:
HOST = "ec2-35-77-169-139.ap-northeast-1.compute.amazonaws.com"
DB_USER   = "hsy"
DB_PASSWD = "비번"
DB_NAME = "wildfire"
conn = f"mysql://{DB_USER}:{DB_PASSWD}@{HOST}/{DB_NAME}?charset=utf8"
print(conn)

In [5]:
conn = f"mysql://{DB_USER}:{DB_PASSWD}@{HOST}/{DB_NAME}?charset=utf8"
engine = create_engine(conn, encoding='utf-8')
engine

Engine(mysql://hsy:***@ec2-35-77-169-139.ap-northeast-1.compute.amazonaws.com/wildfire?charset=utf8)

In [6]:
connection = engine.connect()
metadata = MetaData()
table = Table('weather_info', metadata, autoload=True, autoload_with=engine)


print(table.columns.keys())

['weather_his_id', 'tm', 'rnum', 'stnId', 'stnNm', 'ta', 'taQcflg', 'rn', 'rnQcflg', 'ws', 'wsQcFlg', 'wd', 'wdQcFlg', 'hm', 'hmQcFlg', 'pv', 'td', 'pa', 'paQcFlg', 'ps', 'psQcFlg', 'ss', 'ssQcFlg', 'icsr', 'dsnw', 'hr3Fhsc', 'dc10Tca', 'dc10LmcsCa', 'clfmAbbrCd', 'lcsCh', 'vs', 'gndSttCd', 'dmstMtphNo', 'ts', 'tsQcflg', 'm005Te', 'm01Te', 'm02Te', 'm03Te']

In [53]:
import pickle

f = open('/content/drive/MyDrive/DE  DS 합반 (산불위험 프젝)/데이터셋/climate_lst.pickle', 'rb')
values_list = pickle.load(f)
print(values_list[-1])

{'stnld': 295, 'stnNm': '남해', 'tm': '2014-06-19 23:00', 'ta': 20.8, 'rn': nan, 'ws': 0.5, 'wd': 250.0, 'hm': 84.0}

In [12]:
'stnld' == 'stnId'

False

In [18]:
# 대문자 I i
'stnId' == 'stnId'

True

In [13]:
# l -> 소문자 L
'stnld' == 'stnld'

True

In [8]:
len(values_list)

1967388

VSCode로 리스트 만들때 컬럼명 중 stnId를 대문자 I(아이)를 소문자 l(엘)로 보고 만들어서 sql에 안들어가는 오류가 생겼음. 따라서 컬럼명 수정해줌.

In [54]:
a_lst=[]

for a in values_list:
  a['stnId'] = a.pop('stnld')
  a_lst.append(a)

values_list = a_lst

In [20]:
len(values_list)

1967388

In [21]:
values_list[-1]

{'hm': 84.0,
 'rn': nan,
 'stnId': 295,
 'stnNm': '남해',
 'ta': 20.8,
 'tm': '2014-06-19 23:00',
 'wd': 250.0,
 'ws': 0.5}

In [22]:
'stnld' == 'stnId'

False

In [26]:
# test
lst = [{'hm': 84.0,
 'rn': None,
 'stnId': 295,
 'stnNm': '남해',
 'ta': 20.8,
 'tm': '2014-06-19 23:00',
 'wd': 250.0,
 'ws': 0.5}]

query = insert(table)
result_proxy = connection.execute(query, lst)
result_proxy.close()

In [37]:
b = values_list[0]
b['rn'] = None
b

{'hm': 57.0,
 'rn': None,
 'stnId': 90,
 'stnNm': '속초',
 'ta': -0.5,
 'tm': '2012-01-01 00:00',
 'wd': 50.0,
 'ws': 0.9}

In [55]:
# nan 데이터 None 으로 변경해주기 ->변경 안해주면 에러뜸
a_lst = []

for a in values_list:

  if str(a['hm']) == 'nan':
    a['hm'] = None

  if str(a['rn']) == 'nan':
    a['rn'] = None

  if str(a['ta']) == 'nan':
    a['ta'] = None

  if str(a['wd']) == 'nan':
    a['wd'] = None

  if str(a['ws']) == 'nan':
    a['ws'] = None

  a_lst.append(a)

values_list = a_lst

DataError: (MySQLdb.DataError) (1265, "Data truncated for column 'ws' at row 461") 계속 오류뜸. 근데 한개씩 넣으면 또 괜찮음.
```python

values_list[1338]

{'hm': 99.0,
 'rn': 1.9,
 'stnId': 90,
 'stnNm': '속초',
 'ta': -0.1,
 'tm': '2012-02-25 18:00',
 'wd': None,
 'ws': nan}
 ```
 이거때문에 계속 에러난듯

 해결방법: if-elif 써서 했었는데 elif를 다 if로 바꿔서 모든 키의 값을 다 검사하도록 함.

In [56]:
values_list[1338]

{'hm': 99.0,
 'rn': 1.9,
 'stnId': 90,
 'stnNm': '속초',
 'ta': -0.1,
 'tm': '2012-02-25 18:00',
 'wd': None,
 'ws': None}

In [57]:
query = insert(table)
result_proxy = connection.execute(query, values_list)
result_proxy.close()

데이터 갯수가 많아서 MySQL에 적재하는데 걸리는 시간이 2시간은 될꺼라고 예상했는데 7분 걸렸음. 미리 리스트를 만들어두고 삽입해서 그런가봄. 리스트 만드는건 VSCode에서 12~15시간 정도 걸림.