In [ ]:
!pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 2.8 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99987 sha256=9b73f8d00e050f6595d27908e55ca769abd344a87855dbca4180f093f9ffb6be
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [ ]:
import MySQLdb
from sqlalchemy import *

In [ ]:
HOST = "ec2-35-77-169-139.ap-northeast-1.compute.amazonaws.com"
DB_USER   = "hsy"
DB_PASSWD = "비번"
DB_NAME = "wildfire"
conn = f"mysql://{DB_USER}:{DB_PASSWD}@{HOST}/{DB_NAME}?charset=utf8"
print(conn)

In [ ]:
conn = f"mysql://{DB_USER}:{DB_PASSWD}@{HOST}/{DB_NAME}?charset=utf8"
engine = create_engine(conn, encoding='utf-8')
engine

Engine(mysql://hsy:***@ec2-35-77-169-139.ap-northeast-1.compute.amazonaws.com/wildfire?charset=utf8)

In [ ]:
connection = engine.connect()
metadata = MetaData()
table = Table('weather_info', metadata, autoload=True, autoload_with=engine)


print(table.columns.keys())

['weather_his_id', 'tm', 'rnum', 'stnId', 'stnNm', 'ta', 'taQcflg', 'rn', 'rnQcflg', 'ws', 'wsQcFlg', 'wd', 'wdQcFlg', 'hm', 'hmQcFlg', 'pv', 'td', 'pa', 'paQcFlg', 'ps', 'psQcFlg', 'ss', 'ssQcFlg', 'icsr', 'dsnw', 'hr3Fhsc', 'dc10Tca', 'dc10LmcsCa', 'clfmAbbrCd', 'lcsCh', 'vs', 'gndSttCd', 'dmstMtphNo', 'ts', 'tsQcflg', 'm005Te', 'm01Te', 'm02Te', 'm03Te']

In [4]:
import pickle

f = open('/content/drive/MyDrive/DE  DS 합반 (산불위험 프젝)/데이터셋/climate_lst.pickle', 'rb')
values_list = pickle.load(f)
print(values_list[-1])

{'stnld': 295, 'stnNm': '남해', 'tm': '2014-06-19 23:00', 'ta': 20.8, 'rn': nan, 'ws': 0.5, 'wd': 250.0, 'hm': 84.0}

In [3]:
len(values_list)

1967388

In [ ]:
query = insert(table)
result_proxy = connection.execute(query, values_list)
result_proxy.close()